.page {
	&__aside-button {
		position: fixed;
		top: 56%;
		right: 5px;
		z-index: 13;
		box-shadow: 0 0 10px #000;
		background: #fff !important;
		width: 40px !important;
		height: 40px !important;

		.icon-angle-down {
			cursor: pointer;
			z-index: 13;
			transition: all 0.5s ease-in-out;

			&::before {
				font-size: 3rem;
				color: $color;
				font-weight: 600;
				text-shadow: -1px -1px 3px #000;
			}
		}

		&._rotate i {
			scale: -1;
		}
	}
}
