.sidebar-menu {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: calc(100% - 79px);
	background: #171b1c;
	background: #fff;
	z-index: 10;
	transform: translateY(-120%);
	will-change: transform;
	display: flex;
	background: #bbbbbb; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#bbbbbb,
		#28345f
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#bbbbbb,
		#28345f
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	&::before {
		content: '';
		position: fixed;
		top: 100%;
		left: 0;
		width: 100%;
		height: 0;
		background: #fff;
		background: #171b1c;
		transform: translateY(-50%);
		transition: height 0.4s ease-out 0.7s;
	}

	// .sidebar-menu__column
	&__column {
		opacity: 0;
		&:nth-child(1) {
			overflow-x: hidden;
			min-width: 300px;

			@include _min-960 {
				flex: 0 1 40%;
			}
		}

		@include _screen-490 {
			width: 100%;
		}

		&:nth-child(2) {
			width: 100%;
			display: flex;
			justify-content: center;
			flex: 0 1 auto;
			overflow: hidden;
			@include _screen-960 {
				display: none;
			}
		}
	}

	// .sidebar-menu__menu
	&__menu {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 15;
		padding: 30px 15px;

		.header__menu {
			flex-direction: column;
		}
	}

	// .sidebar-menu__menu-list
	&__menu-list {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
	}

	// .menu-list__link
	&__link {
		position: relative;
		text-transform: uppercase;
		align-self: start;
		font-size: 18px;
		font-weight: 600;
		opacity: 1;
		white-space: nowrap;
		font-family: $font-family-third;
		color: #171b1c;
		opacity: 0.7;
		transition: all 0.5s ease-in-out;

		// margin-bottom: 20px;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		&:hover {
			opacity: 1;
		}

		@extend .underline;
	}

	// .sidebar-menu__order
	&__order {
		position: relative;

		&::before {
			content: '';
			margin-bottom: 40px;
			display: block;
			height: 2px;
			width: 100%;
			opacity: 0;
			background: #aaaaaa;
			box-shadow: inset 0 0 2px #dbdbdb;
		}

		&::after {
			content: '';
			margin-top: 40px;
			display: block;
			height: 2px;
			width: 100%;
			opacity: 0;
			background: #aaaaaa;
			box-shadow: inset 0 0 2px #dbdbdb;
		}
	}

	// .sidebar-menu__project-button
	&__project-button {
		text-transform: uppercase;
		font-family: $font-family-third;
		font-size: 18px;
		font-weight: 700;
		color: #171b1c;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .sidebar-menu__button
	&__button {
		cursor: pointer;
		position: relative;
		margin-right: 30px;
		width: 7.8rem;
		height: 7.8rem;
		border-radius: 50%;
		border: 2px solid #ccc;
		opacity: 0;
		overflow: hidden;

		.icon-arrow-right {
			position: relative;
			z-index: 9;
			color: #ccc;
			font-size: 24px;
			transition: 0.5s linear;
			transition: all 0.4s ease-in-out;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: 999;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #2b3769;
			clip-path: circle(var(--size) at var(--clip));
			transition: all 0.7s ease-in-out;
		}

		&:hover {
			.icon-arrow-right {
				z-index: 9;
				transform: rotate(-45deg);
			}

			&:before {
				--size: 100px;
			}
		}
	}

	// .sidebar-menu__networks
	&__row {
		display: flex;
		gap: 15px;
		justify-content: space-between;
		align-items: flex-end;
		padding: 40px 0;
		width: 100%;

		@include _screen-490 {
			align-items: flex-start;
			flex-direction: column-reverse;
			gap: 40px;
		}
	}

	// .sidebar-menu__slide
	&__slide {
		position: relative;
		z-index: 999;
		height: 100%;
		display: flex;
		gap: 30px;
		background-size: cover;
		background-position: center;
	}

	&._open-menu {
		transform: translateY(0px);
		.sidebar-menu__column {
			opacity: 1;
			transition: opacity 0.7s ease-in-out 0.9s;
		}
		&::before {
			height: 200%;
			background: #fff;
		}

		.sidebar-menu__order {
			&::before {
				opacity: 1;
				transition: opacity 0.7s ease-in-out 0.9s;
				will-change: opacity;
			}
			&::after {
				opacity: 1;
				transition: opacity 0.7s ease-in-out 0.9s;
				will-change: opacity;
			}
		}

		.menu-list__link {
			color: #171b1c;
			transition: color 0.9s ease-in-out 0.7s;
			will-change: color;
		}

		.sidebar-menu__button {
			opacity: 1;
			transition: opacity 0.7s ease-in-out 0.7s;
			will-change: opacity;
		}

		.main-wrapper {
			opacity: 1;
			transition: opacity 0.7s ease-in-out 0.9s;
			will-change: opacity;
		}
	}

	&._close-menu {
		transition: height 1s ease-out 0s;
		.sidebar-menu__column {
			opacity: 0;
			transition: opacity 0.3s ease-in-out 0.7s;
		}
		.main-wrapper {
			opacity: 0;
			transition: opacity 0.3s ease-in-out 0.7s;
			will-change: opacity;
		}

		.sidebar-menu__order {
			&::before {
				opacity: 0;
				transition: opacity 0.2s ease-in-out 0.7s;
				will-change: opacity;
			}

			&::after {
				opacity: 0;
				transition: opacity 0.2s ease-in-out 0.7s;
				will-change: opacity;
			}
		}

		.menu-list__link {
			color: #ffffff00;
			transition: color 0.9s ease-in-out 0.7s;
			will-change: color;
		}

		.sidebar-menu__button {
			opacity: 0;
			transition: opacity 0.7s ease-in-out 0.2s;
			will-change: opacity;
		}

		&::before {
			height: 0;
		}
	}
}

.networks {
	// .networks__icon
	&__icon {
		color: #171b1c;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: start;
		font-size: 10px;
		text-transform: uppercase;

		span {
			margin-left: 20px;
			font-size: 14px;
		}

		&:not(:last-child) {
			margin-bottom: 30px;
		}
		._icon {
			font-size: 40px;
		}
	}
}

.contacts {
	font-weight: 600;
	font-size: 16px;
	color: #171b1c;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	span {
		display: block;
		font-size: 18px;
		text-transform: uppercase;
	}

	&__phone {
		width: 111px;
		margin-bottom: 34px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: end;

		span {
			width: 111px;
			font-size: 13px;
			text-align-last: left;
		}
	}

	&__mail {
		margin-bottom: 10px;
		text-align: end;

		span {
			font-size: 13px;
			text-align-last: left;
		}
	}
}
