.tab-content {
	position: relative;
	height: 100%;

	// .tab-content__items
	&__items {
		display: none;
		margin-bottom: 40px;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;

		@include _screen-1440 {
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;
		}

		@include _screen-690 {
			grid-template-columns: repeat(1, 1fr);
		}
		span {
			display: inline;
		}

		&.active {
			display: grid !important;
		}
	}

	// .tab-content__column
	&__column {
		cursor: pointer;
		position: relative;
		display: flex;

		flex-direction: column;

		@include _min-960 {
			&:hover {
				.tab-content__text {
					opacity: 1;
					scale: 1;
				}
			}
		}
	}

	// .tab-content__image
	&__image {
		cursor: pointer;
		width: 100%;
		height: 100%;
		margin-bottom: 10px;

		img {
			width: 100%;
			height: 100%;
			background-size: 100% 100%;
			box-shadow: var(--shadow-size);

			@include _min-768 {
				border-radius: 30px;
				pointer-events: none;
			}

			@include _screen-768 {
				border-radius: 15px;
			}
		}

		@include _min-960 {
			pointer-events: none;
		}
	}

	// .tab-content__footer
	&__footer {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		gap: 10px;
		justify-content: space-between;

		@include _1440-1740 {
			flex-direction: column;
			gap: 20px;
		}

		@include _screen-1164 {
			flex-direction: column;
			gap: 20px;
		}
	}

	// .tab-content__text
	&__text {
		pointer-events: none;
		color: #fff;
		line-height: 125%; /* 20px/16 */
		text-align: left;
		flex: 1 1 auto;
		display: none;
		border-radius: 30px;

		@include _screen-1164 {
			max-width: 100%;
			width: 100%;
		}

		@include _min-960 {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			padding: 30px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;
			background: #3c3b51ce;
			scale: 0;
			opacity: 0;
			transition:
				opacity 0.4s,
				scale 0.4s ease 0s;

			span {
				height: 100%;
				display: flex;
				align-items: center;
			}
		}

		@include _screen-960 {
			display: block;
			position: relative;
			color: #000;
		}
	}

	// .tab-content__button
	&__button {
		right: 0;
		bottom: 0;
		background: #2b3769;
		border: 1px solid transparent;

		span {
			color: #fff;
		}

		&:hover {
			.icon {
				transform: rotate(-45deg);
				background: $color;
			}
			._icon {
				&::before {
					color: #fff;
					font-weight: 400;
				}
			}
			span {
				color: #000;
			}
			&::before {
				background: #fff;
				color: #fff;
			}
		}
		.icon {
			background: #fff;
		}

		._icon {
			border-radius: 50%;
			color: #2b3769;

			&::before {
				font-weight: 600;
			}
		}

		@include _screen-960 {
			width: 268px;
		}
	}

	// .tab-content__icon
	&__icon {
		flex: 0 0 4.8rem;
		pointer-events: all;
		width: 4.8rem;
		height: 4.8rem;
		border-radius: 50%;
		background: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease-in-out;
		overflow: hidden;
		display: grid;
		grid-template-columns: 1fr;

		&:hover {
			.icon-arrow-right {
				transform: translateY(-100%);
			}
			.icon-group {
				transform: translateY(-100%);
			}
		}

		@include _screen-960 {
			display: none;
		}

		._icon {
			transition: all 0.5s ease 0s;
			height: 4.8rem;
			&::before {
				color: #2b3769;
				font-weight: 700;
			}
		}

		.icon-group {
			&::before {
				font-size: 14px;
			}
		}
	}
}
