.answers.pbl-lr-5010
	._body.maxw-b0101
		h2._title.t-h2 Отвечаем на&nbsp;вопросы
		ul._list
			li._content._open
				._question
					._text Что такое студия дизайна и&nbsp;какую помощь они&nbsp;могут предложить?
					._icon
						+iconfont('plus', '_icon')
				._wrapper._collapse._show
					p._answer.p-text Студия дизайна - это профессиональная команда экспертов, специализирующихся на&nbsp;создании визуальных решений для&nbsp;различных проектов. Они&nbsp;предлагают широкий спектр услуг, включая дизайн, веб-дизайн и&nbsp;полиграфический дизайн. Студии дизайна сотрудничают с клиентами, чтобы создавать эффективные и&nbsp;креативные дизайнерские решения, которые подчеркивают их&nbsp;бренд и&nbsp;ценности. 
				li._content
					._question
						._text Каким образом студия дизайна может помочь мне&nbsp;с&nbsp;моим проектом?
						._icon
							+iconfont('plus', '_icon')
					._wrapper._collapse
						p._answer.p-text Студия дизайна - это профессиональная команда экспертов, специализирующихся на&nbsp;создании визуальных решений для&nbsp;различных проектов. Они предлагают широкий спектр услуг, включая дизайн, веб-дизайн и&nbsp;полиграфический дизайн. Студии дизайна сотрудничают с&nbsp;клиентами, чтобы создавать эффективные и&nbsp;креативные дизайнерские решения, которые подчеркивают их&nbsp;бренд и&nbsp;ценности. 
			li._content
				._question
					._text Какую роль играет веб-дизайн в&nbsp;успехе 
						span онлайн-проекта?
					._icon
						+iconfont('plus', '_icon')
				._wrapper._collapse
					p._answer.p-text Студия дизайна - это профессиональная команда экспертов, специализирующихся на создании визуальных решений для различных проектов. Они&nbsp;предлагают широкий спектр услуг, включая дизайн, веб-дизайн и&nbsp;полиграфический дизайн. Студии дизайна сотрудничают с&nbsp;клиентами, чтобы&nbsp;создавать эффективные и&nbsp;креативные дизайнерские решения, которые подчеркивают их&nbsp;бренд и&nbsp;ценности. 
			li._content
				._question
					._text Что такое полиграфический дизайн и&nbsp;почему он&nbsp;важен для&nbsp;моего бизнеса?
					._icon
						+iconfont('plus', '_icon')
				._wrapper._collapse
					p._answer.p-text Студия дизайна - это профессиональная команда экспертов, специализирующихся на создании визуальных решений для различных проектов. Они&nbsp;предлагают широкий спектр услуг, включая дизайн, веб-дизайн и&nbsp;полиграфический дизайн. Студии дизайна сотрудничают с&nbsp;клиентами, чтобы&nbsp;создавать эффективные и&nbsp;креативные дизайнерские решения, которые подчеркивают их&nbsp;бренд и&nbsp;ценности. 
			li._content
				._question
					._text Какой опыт имеет ваша студия дизайна?
					._icon
						+iconfont('plus', '_icon')
				._wrapper._collapse
					p._answer.p-text Студия дизайна - это профессиональная команда экспертов, специализирующихся на создании визуальных решений для различных проектов. Они&nbsp;предлагают широкий спектр услуг, включая дизайн, веб-дизайн и&nbsp;&nbsp; создавать эффективные и креативные дизайнерские решения, которые подчеркивают их&nbsp;бренд и&nbsp;ценности.