section.answers.page__answers
	._body 
		._title Отвечаем на вопросы
		ul._list
			li._content
				._question 
					._text Что такое студия дизайна и какую помощь они могут предложить?
					._icon
						+iconfont('plus', '_icon')
				._wrapper._collapse
					._answer Студия дизайна - это профессиональная команда экспертов, специализирующихся на создании визуальных решений для различных проектов. Они предлагают широкий спектр услуг, включая дизайн, веб-дизайн и полиграфический дизайн. Студии дизайна сотрудничают с клиентами, чтобы создавать эффективные и креативные дизайнерские решения, которые подчеркивают их бренд и ценности. 
				li._content
					._question
						._text Каким образом студия дизайна может помочь мне с моим проектом?
						+iconfont('plus', '_icon')
					._wrapper._collapse
						._answer Студия дизайна - это профессиональная команда экспертов, специализирующихся на создании визуальных решений для различных проектов. Они предлагают широкий спектр услуг, включая дизайн, веб-дизайн и полиграфический дизайн. Студии дизайна сотрудничают с клиентами, чтобы создавать эффективные и креативные дизайнерские решения, которые подчеркивают их бренд и ценности. 
			li._content
				._question
					._text Какую роль играет веб-дизайн в успехе онлайн-проекта?
					._icon
						+iconfont('plus', '_icon')
				._wrapper._collapse
					._answer Студия дизайна - это профессиональная команда экспертов, специализирующихся на создании визуальных решений для различных проектов. Они предлагают широкий спектр услуг, включая дизайн, веб-дизайн и полиграфический дизайн. Студии дизайна сотрудничают с клиентами, чтобы создавать эффективные и креативные дизайнерские решения, которые подчеркивают их бренд и ценности. 
			li._content
				._question
					._text Что такое полиграфический дизайн и почему он важен для моего бизнеса?
					+iconfont('plus', '_icon')
				._wrapper._collapse
					._answer Студия дизайна - это профессиональная команда экспертов, специализирующихся на создании визуальных решений для различных проектов. Они предлагают широкий спектр услуг, включая дизайн, веб-дизайн и полиграфический дизайн. Студии дизайна сотрудничают с клиентами, чтобы создавать эффективные и креативные дизайнерские решения, которые подчеркивают их бренд и ценности. 
			li._content
				._question
					._text Какой опыт имеет ваша студия дизайна?
					+iconfont('plus', '_icon')
				._wrapper._collapse
					._answer Студия дизайна - это профессиональная команда экспертов, специализирующихся на создании визуальных решений для различных проектов. Они предлагают широкий спектр услуг, включая дизайн, веб-дизайн и полиграфический дизайн. Студии дизайна сотрудничают с клиентами, чтобы создавать эффективные и креативные дизайнерские решения, которые подчеркивают их бренд и ценности.
