section.answers
	._body.maxw-b0101
		h2._title.t-h2 Отвечаем на&nbsp;вопросы
		ul._list
			li._content._open
				._question 
					._text Сколько времени занимает создание сайта?
					._icon
						+iconfont('plus', '_icon')
				._wrapper._collapse._show
					._answer Время на&nbsp;создание сайта зависит от&nbsp;его сложности и&nbsp;объема, а&nbsp;также от&nbsp;скорости коммуникации с&nbsp;клиентом. В&nbsp;среднем, разработка стандартного корпоративного сайта занимает от&nbsp;4 до&nbsp;8 недель. Сложные проекты, такие как&nbsp;интернет-магазины или&nbsp;порталы, могут потребовать от&nbsp;2 до&nbsp;6 месяцев.
				li._content
					._question
						._text Сколько стоит разработка сайта?
						+iconfont('plus', '_icon')
					._wrapper._collapse
						._answer Время на&nbsp;создание сайта зависит от&nbsp;его сложности и&nbsp;объема, а&nbsp;также от&nbsp;скорости коммуникации с&nbsp;клиентом. В&nbsp;среднем, разработка стандартного корпоративного сайта занимает от&nbsp;4 до&nbsp;8 недель. Сложные проекты, такие как&nbsp;интернет-магазины или&nbsp;порталы, могут потребовать от&nbsp;2 до&nbsp;6 месяцев.
			li._content
				._question
					._text Какие платформы вы&nbsp;используете для&nbsp;разработки сайтов?
					._icon
						+iconfont('plus', '_icon')
				._wrapper._collapse
					._answer Время на&nbsp;создание сайта зависит от&nbsp;его сложности и&nbsp;объема, а&nbsp;также от&nbsp;скорости коммуникации с&nbsp;клиентом. В&nbsp;среднем, разработка стандартного корпоративного сайта занимает от&nbsp;4 до&nbsp;8 недель. Сложные проекты, такие как&nbsp;интернет-магазины или&nbsp;порталы, могут потребовать от&nbsp;2 до&nbsp;6 месяцев.
			li._content
				._question
					._text Предоставляете ли&nbsp;вы услуги по&nbsp;поддержке и&nbsp;обновлению сайтов?
					+iconfont('plus', '_icon')
				._wrapper._collapse
					._answer Время на&nbsp;создание сайта зависит от&nbsp;его сложности и&nbsp;объема, а&nbsp;также от&nbsp;скорости коммуникации с&nbsp;клиентом. В&nbsp;среднем, разработка стандартного корпоративного сайта занимает от&nbsp;4 до&nbsp;8 недель. Сложные проекты, такие как&nbsp;интернет-магазины или&nbsp;порталы, могут потребовать от&nbsp;2 до&nbsp;6 месяцев.
			li._content
				._question
					._text Могу&nbsp;ли я сам управлять контентом на&nbsp;своем сайте после его разработки?
					+iconfont('plus', '_icon')
				._wrapper._collapse
					._answer Время на&nbsp;создание сайта зависит от&nbsp;его сложности и&nbsp;объема, а&nbsp;также от&nbsp;скорости коммуникации с&nbsp;клиентом. В&nbsp;среднем, разработка стандартного корпоративного сайта занимает от&nbsp;4 до&nbsp;8 недель. Сложные проекты, такие как&nbsp;интернет-магазины или&nbsp;порталы, могут потребовать от&nbsp;2 до&nbsp;6 месяцев.
			li._content
				._question
					._text Можете&nbsp;ли вы интегрировать мой сайт с&nbsp;CRM или&nbsp;другими системами?
					+iconfont('plus', '_icon')
				._wrapper._collapse
					._answer Время на&nbsp;создание сайта зависит от&nbsp;его сложности и&nbsp;объема, а&nbsp;также от&nbsp;скорости коммуникации с&nbsp;клиентом. В&nbsp;среднем, разработка стандартного корпоративного сайта занимает от&nbsp;4 до&nbsp;8 недель. Сложные проекты, такие как&nbsp;интернет-магазины или&nbsp;порталы, могут потребовать от&nbsp;2 до&nbsp;6 месяцев.
			li._content
				._question
					._text Предоставляете&nbsp;ли вы услуги по&nbsp;SEO 
						span и&nbsp;интернет-маркетингу?
					+iconfont('plus', '_icon')
				._wrapper._collapse
					._answer Время на&nbsp;создание сайта зависит от&nbsp;его сложности и&nbsp;объема, а&nbsp;также от&nbsp;скорости коммуникации с&nbsp;клиентом. В&nbsp;среднем, разработка стандартного корпоративного сайта занимает от&nbsp;4 до&nbsp;8 недель. Сложные проекты, такие как&nbsp;интернет-магазины или&nbsp;порталы, могут потребовать от&nbsp;2 до&nbsp;6 месяцев.
			li._content
				._question
					._text Как защитить мой сайт от&nbsp;хакерских атак?
					+iconfont('plus', '_icon')
				._wrapper._collapse
					._answer Время на&nbsp;создание сайта зависит от&nbsp;его сложности и&nbsp;объема, а&nbsp;также от&nbsp;скорости коммуникации с&nbsp;клиентом. В&nbsp;среднем, разработка стандартного корпоративного сайта занимает от&nbsp;4 до&nbsp;8 недель. Сложные проекты, такие как&nbsp;интернет-магазины или&nbsp;порталы, могут потребовать от&nbsp;2 до&nbsp;6 месяцев.
