section.brands.page__brands
	._body 
		._title Наши клиенты
		.brand-slide
			._body._swiper 
				._slide 
					a(href="")
						img(src="@@webRoot/img/brand/ochkarik.png", alt="Очкарик")
				._slide 
					a(href="")
						img(src="@@webRoot/img/brand/skolkovo.png", alt="Сколково")
				._slide 
					a(href="")
						img(src="@@webRoot/img/brand/gazprombank.png", alt="Газпром Банк")
				._slide 
					a(href="")
						img(src="@@webRoot/img/brand/globus.png", alt="Глобус")
				._slide 
					a(href="")
						img(src="@@webRoot/img/brand/alfa-strahovka.png", alt="Альфа Страхование")
				._slide 
					a(href="")
						img(src="@@webRoot/img/brand/gmip.png", alt="Гос музей имени Пушеина")
						