.catalog-project
	._body 
		._line
			._title.t-h2 Каталог
			._text.t-h4 В&nbsp;рамках проекта по&nbsp;редизайну сайта мы&nbsp;провели комплексное обновление ключевых страниц. Основной целью редизайна было улучшение пользовательского опыта, повышение удобства навигации и&nbsp;визуальной привлекательности. На&nbsp;странице «Каталог» мы&nbsp;переработали структуру и&nbsp;дизайн, чтобы&nbsp;сделать поиск товаров более интуитивно понятным.
		._image
			img(src="@@webRoot/img/portfolio/project-smt/catalog.png", alt="image")