section.clients.page__clients
	._body 
		._title Наши клиенты
		.brand-slide._brand 
			._body._swiper 
				._slide 
					._image 
						img(src="@@webRoot/img/brand/brand.png", alt="картинка")
						