.company-team.pbl-h-lr-5016
	._body
		._row
			h2._title.t-h2 Наша команда
			._content
				.team-card._column
					._body 
						._header 
							._image 
								img(src="@@webRoot/img/teammates/team-1.png" alt="Андрей Садовский")
							._logo 
								img(src="@@webRoot/img/icons/logo-b.png" alt="logo")
						._content 
							._post Генеральный директор
							._name Андрей Садовский
				.team-card._column
					._body 
						._header 
							._image 
								img(src="@@webRoot/img/teammates/team-2.png" alt="Елизавета Лунева")
							._logo 
								img(src="@@webRoot/img/icons/logo-b.png" alt="logo")
						._content 
							._post Графический дизайн
							._name Елизавета Лунева
				.team-card._column
					._body 
						._header 
							._image 
								img(src="@@webRoot/img/teammates/team-3.png" alt="Денис Лутов")
							._logo 
								img(src="@@webRoot/img/icons/logo-b.png" alt="logo")
						._content 
							._post SEO - специалист
							._name Денис Лутов
				.team-card._column
					._body 
						._header 
							._image 
								img(src="@@webRoot/img/teammates/team-4.png" alt="Валентина Белокрыницкая")
							._logo 
								img(src="@@webRoot/img/icons/logo-b.png" alt="logo")
						._content 
							._post Веб-дизайн
							._name Валентина Белокрыницкая
				.team-card._column
					._body 
						._header 
							._image 
								img(src="@@webRoot/img/teammates/team-5.png" alt="Сергей Кутилин")
							._logo 
								img(src="@@webRoot/img/icons/logo-b.png" alt="logo")
						._content 
							._post Backend - разработка
							._name Джасур Шодиев
				.team-card._column
					._body 
						._header 
							._image 
								img(src="@@webRoot/img/teammates/team-6.png" alt="Александ Васильев")
							._logo 
								img(src="@@webRoot/img/icons/logo-b.png" alt="logo")
						._content 
							._post Frontend - разработка
							._name Александр Васильев


