section.company-team.page__company-team
	._body
		._row
			._title Наша команда
			._content
				.team-card._column
					._body 
						._header 
							._image 
								img(src="@@webRoot/img/team/andrey.png", alt="Андрей Садовский")
							._logo 
								img(src="@@webRoot/img/icons/logo-b.png", alt="logo")
						._content 
							._post Генеральный директор
							._name Андрей Садовский
				.team-card._column
					._body 
						._header 
							._image 
								img(src="@@webRoot/img/team/elizaveta.png", alt="Елизавета Лунева")
							._logo 
								img(src="@@webRoot/img/icons/logo-b.png", alt="logo")
						._content 
							._post Графический дизайн
							._name Елизавета Лунева
				.team-card._column
					._body 
						._header 
							._image 
								img(src="@@webRoot/img/team/denis.png", alt="Денис Лутов")
							._logo 
								img(src="@@webRoot/img/icons/logo-b.png", alt="logo")
						._content 
							._post SEO - специалист
							._name Денис Лутов
				.team-card._column
					._body 
						._header 
							._image 
								img(src="@@webRoot/img/team/valentina.png", alt="Валентина Белокрыницкая")
							._logo 
								img(src="@@webRoot/img/icons/logo-b.png", alt="logo")
						._content 
							._post Веб-дизайн
							._name Валентина Белокрыницкая
				.team-card._column
					._body 
						._header 
							._image 
								img(src="@@webRoot/img/team/sergey.png", alt="Сергей Кутилин")
							._logo 
								img(src="@@webRoot/img/icons/logo-b.png", alt="logo")
						._content 
							._post Backend - разработка
							._name Сергей Кутилин
				.team-card._column
					._body 
						._header 
							._image 
								img(src="@@webRoot/img/team/alex.png", alt="Александ Васильев")
							._logo 
								img(src="@@webRoot/img/icons/logo-b.png", alt="logo")
						._content 
							._post Frontend - разработка
							._name Александ Васильев
		.elipsis-cont 
			._elipse-10

