.dev-info 
	._images
		._img-wrapper
			._image-bg 
	._content 
		._column
			h2._title.t-h2 Разработка сайта от&nbsp;студии Sadovskiy&nbsp;Design это:
		._column
			._image 
		._column
			.info-dev
				._row
					p.t-h3 Увеличение продаж
				._row
					p.t-h3 Положительное влияние на&nbsp;имидж бренда
				._row
					p.t-h3 Лёгкое взаимодействие с&nbsp;клиентами
				._row
					p.t-h3 Увеличение охвата целевой аудитории
		._column 
			.footer-dev._footer
				._column
					p.p-text Создание веб-сайта с&nbsp;нуля&nbsp;— процесс кропотливый и&nbsp;сложный. Мы&nbsp;создаём продукт, готовый к&nbsp;выводу в&nbsp;ТОП&nbsp;поисковых системах, которым будет легко управлять.
				._column
					p.p-text Мы&nbsp;разрабатываем сайты, которые приносят деньги компания: от&nbsp;лендинга, сайта-визитки до&nbsp;сложных интернет-магазинов. Вместе с&nbsp;развитием и&nbsp;совершенствованием вашего бизнеса будет развиваться и&nbsp;ваш&nbsp;интернет-ресурс.
