.schedule
	._body 
		._row
			._items
				._item  
						h2 Как&nbsp;мы разрабатываем сайты:
				._item 
					._number 01
					._title Подписание договора
					._text На&nbsp;первом этапе мы&nbsp;подписываем договор, который включает в&nbsp;себя все&nbsp;условия нашего сотрудничества и&nbsp;гарантии выполнения работ.
				._item 
					._number 02
					._title Составление структуры под&nbsp;спрос
					._text Проводим анализ потребностей и&nbsp;предпочтений вашей аудитории, чтобы&nbsp;создать оптимальную структуру сайта, которая будет максимально полезна для&nbsp;ваших клиентов.
				._item 
					._number 03
					._title Прототипирование понятного сайта
					._text Создаём прототип сайта, который в&nbsp;полной мере демонстрирует его&nbsp;будущую функциональность и&nbsp;удобство использования. Это&nbsp;помогает визуализировать проект и&nbsp;внести коррективы на&nbsp;ранних этапах.
				._item 
					._number 04
					._title Разработка индивидуального дизайна
					._text Наши дизайнеры работают над&nbsp;созданием уникального и&nbsp;привлекательного интерфейса, который будет не&nbsp;только красивым, но&nbsp;и&nbsp;соответствовать вашим требованиям и&nbsp;трендам в&nbsp;дизайне.
				._item 
					._number 05
					._title Вёрстка и&nbsp;программирование будущего сайта
					._text На&nbsp;этом этапе происходит превращение дизайн-макетов в&nbsp;живой сайт. Мы&nbsp;используем современные технологии для&nbsp;создания быстрого и&nbsp;надёжного продукта.
				._item 
					._number 06
					._title Наполнение сайта контентом
					._text Заполняем ваш&nbsp;сайт необходимым контентом&nbsp;— текстами, изображениями, видео и&nbsp;другими элементами, которые помогут максимально эффективно донести информацию до&nbsp;вашей аудитории.
				._item 
					._number 07
					._title Интеграция сайта с&nbsp;сервисами
					._text Интегрируем сайт с&nbsp;необходимыми сервисами, такими как&nbsp;системы аналитики, CRM, социальные сети и&nbsp;другие инструменты, чтобы&nbsp;обеспечить полноценную работу ресурса и&nbsp;взаимодействие с&nbsp;пользователями.
				._item 
					._number 08
					._title Техническая поддержка
					._text После&nbsp;запуска сайта мы&nbsp;продолжаем поддерживать вас: осуществляем регулярное обновление, исправление ошибок и&nbsp;модернизацию функционала, чтобы&nbsp;ваш&nbsp;сайт всегда оставался актуальным и&nbsp;работоспособным.
		.elipsis-cont 
			._elipse-11