.info-block
	._body.pbl-lr-5010 
		._header
			h2._title.t-h2 Почему лучше доверить создание и&nbsp;разработку сайтов профессионалам?
			p._text.p-text Разработка качественных сайтов&nbsp;— задача для&nbsp;целой команды профессионалов: это&nbsp;программисты, дизайнеры, копирайтеры, контент‑менеджеры и&nbsp;не&nbsp;только. Поручите работу специалистам, чтобы&nbsp;не&nbsp;сомневаться в&nbsp;результате. Наша команда позаботится о&nbsp;том, чтобы&nbsp;новый ресурс был&nbsp;удобным в&nbsp;использовании, функциональным и&nbsp;красивым&nbsp;— он&nbsp;поможет произвести положительное впечатление на&nbsp;клиентов и&nbsp;обеспечит рост продаж.
			p._text.p-text Наш&nbsp;подход к&nbsp;созданию сайтов включает глубокий анализ рынка и&nbsp;конкурентов, что&nbsp;позволяет нам&nbsp;предложить вам&nbsp;наиболее эффективные и&nbsp;актуальные решения. Мы&nbsp;уделяем особое внимание UX/UI дизайну, чтобы&nbsp;ваши пользователи получили незабываемый опыт взаимодействия с&nbsp;вашим сайтом. Оптимизация под&nbsp;поисковые системы (SEO) и&nbsp;адаптивный дизайн, который корректно отображается на&nbsp;всех устройствах, являются стандартом в&nbsp;нашей работе.
		._body
			h2._title.t-h2 Каким должен быть хороший сайт:
			.info._content 
				._column
					h3._title.t-h3 Быстрым
					._text.p-text —&nbsp;сайту необходимо одинаково быстро грузится как&nbsp;на&nbsp;ПК, так&nbsp;и&nbsp;на&nbsp;телефоне.
				._column 
					h3._title.t-h3 Адаптивным
					._text.p-text —&nbsp;правильно отображаться на&nbsp;всех устройствах и&nbsp;во&nbsp;всех браузерах.
				._column 
					h3._title.t-h3 Запоминающимся
					._text.p-text —&nbsp;уникальный дизайн повысит доверие и&nbsp;узнаваемость вашей компании.
				._column 
					h3._title.t-h3 Безопасным
					._text.p-text —&nbsp;вирусы не&nbsp;должны портить жизнь владельцу сайта и&nbsp;его&nbsp;посетителям.
				._column 
					h3._title.t-h3 Продающим
					._text.p-text —&nbsp;сайт обязан обладать высокой конверсией и&nbsp;приносить деньги.
				._column 
					h3._title.t-h3 Полезным
					._text.p-text —&nbsp;закрывать все&nbsp;потребности своей целевой аудитории.
				._column 
					h3._title.t-h3 Удобным
					._text.p-text —&nbsp;удобным должен быть и&nbsp;сам&nbsp;сайт, и&nbsp;&nbsp;сама CMS.
				._column 
					h3._title.t-h3 Надёжным
					._text.p-text —&nbsp;сайту следует работать без&nbsp;ошибок и&nbsp;проблем с&nbsp;доступностью.
