.order-place
	._content.--order-page
		._body 
			._header.--tcl-order-page
				h2._title.t-h1 Закажите&nbsp;услуги студии Sadovskiy&nbsp;Design
				p._text.p-text Оставьте&nbsp;свой&nbsp;номер&nbsp;телефона&nbsp;и&nbsp;мы&nbsp;свяжемся с&nbsp;вами в&nbsp;рабочее время. Наша&nbsp;команда&nbsp;проконсультирует&nbsp;и&nbsp;ответит на&nbsp;любые&nbsp;вопросы
			form(id="order" action="").order-form._form 
				._column._brd-order
					._line
						label(for="name")._lebel
						._input
							input.input(id="name",placeholder="Имя*" autocomplete="off", 
							type="text", name="name", error="Обязательное поле")
				._column._brd-order
					._line
						label(for="phone")._lebel 
						._input
							input.input(type="tel" class="phone" id='phone', placeholder="+7 (___)-___-__-__", autocomplete="off", name="phone", error="Обязательное поле")
				._column._brd-order
					button(form="order" type="submit")._button.button
						span Оставить заявку
						.project__icon.icon
							+iconfont('arrow-right', '_icon')
			._footer.--tcl-order-page
				p._text.p-text Либо напишите нам на&nbsp;почту info@sadovskiy.art или&nbsp;просто позвоните по&nbsp;номеру
				._phone +7 (953) 332 10-89
		.elipsis-cont 
			._elipse-06
			._elipse-07 
			._elipse-08
			._elipse-09 



