.performance
	._wrapper
		._g-box
		._container
			._body.pbl-h-lr-5016
				._row 
					._title.t-h3
						h1.t-h1 Создание сайтов любой сложности
						h2 Сайты, которые работают на вас.
				._row 
					._text 
						p.p-text Мы предлагаем полный спектр услуг по&nbsp;веб-разработке, начиная с&nbsp;концептуального проектирования и&nbsp;заканчивая запуском и&nbsp;сопровождением готового продукта. Вне зависимости от&nbsp;того, нужен&nbsp;ли вам простой корпоративный сайт, многофункциональный интернет-магазин или&nbsp;сложная портальная система, мы&nbsp;готовы воплотить в&nbsp;жизнь любые ваши идеи и&nbsp;потребности.
						ul._list
							li._item  
								span.p-text Оказываем услуги по&nbsp;созданию сайтов и&nbsp;магазинов в&nbsp;интернете, модернизируем устаревшие
							li._item  
								span Пишем сайты с&nbsp;нуля, кастомизируем и собираем в&nbsp;различных CMS
							li._item   
								span.p-text Занимаемся разработкой веб-сайтов для&nbsp;компаний любых размеров и&nbsp;видов деятельности 
					a(href="#order")._button.button.anchor-link
						span Оставить заявку
						._icon.icon
							+iconfont('arrow-right', '_icon')
				.bottom-menu._row 
					._items
						a(href="" type="button")._button.button 
							span.t-h3 Лендинг
							._icon
								._icon.icon
									+iconfont('arrow-right', '_icon')
						a(href="" type="button")._button.button 
							span.t-h3 Интернет- магазин
							._i-button
								._icon.icon
									+iconfont('arrow-right', '_icon')
						a(href="" type="button")._button.button 
							span.t-h3 Корпоративный сайт
							._i-button
								._icon.icon
									+iconfont('arrow-right', '_icon')
						a(href="" type="button")._button.button 
							span.t-h3 Приложение
							._i-button
								._icon.icon
									+iconfont('arrow-right', '_icon')
						a(href="" type="button")._button.button 
							span.t-h3 Сложные веб-проекты
							._i-button
								._icon.icon
									+iconfont('arrow-right', '_icon')

