section.page__performance
	.performance
		._body._container 
			._row 
				._title
					h1 Создание сайтов любой сложности
					h2 Сайты, которые работают на вас.
			._row 
				._text 
					p Мы предлагаем полный спектр услуг по веб-разработке, начиная с концептуального проектирования и заканчивая запуском и сопровождением готового продукта. Вне зависимости от того, нужен ли вам простой корпоративный сайт, многофункциональный интернет-магазин или сложная портальная система, мы готовы воплотить в жизнь любые ваши идеи и потребности.
					ul._list
						li._item  
							span Оказываем услуги по созданию сайтов и магазинов в интернете, модернизируем устаревшие
						li._item  
							span Пишем сайты с нуля, кастомизируем и собираем в различных CMS
						li._item   
							span Занимаемся разработкой веб-сайтов для компаний любых размеров и видов деятельности 
				._button.button
					span Оставить заявку
					._icon.icon
						+iconfont('arrow-right', '_icon')
			.elipsis-cont
				._elipse-01
				._elipse-02
				._elipse-03
				._elipse-04
	