.portfolio-section._offset-top
	._container 
		._body
			._line
				._title.t-h2 Новости
				._text.t-h4 Новый блок «Новости» получил свежий и&nbsp;современный дизайн, который привлекает внимание пользователей. Мы&nbsp;обновили цветовую гамму и&nbsp;шрифты, чтобы&nbsp;создать более приятную атмосферу для&nbsp;чтения. Теперь каждая новость выглядит стильно и&nbsp;информативно&nbsp;
			._line-2-col 
				._image
					img(src="@@webRoot/img/portfolio/project-smt/news-1.png" alt="image")
				._image
					img(src="@@webRoot/img/portfolio/project-smt/news-2.png" alt="image")