.portfolio-section
	._body 
		._line-1-col 
			._title.t-h2 Карточка товара
			._text.t-h4 Редизайн карточки товара был&nbsp;направлен на&nbsp;предоставление максимальной информации в&nbsp;удобном формате.
		._line-1-row-col 
			._image
				img(src="@@webRoot/img/portfolio/project-smt/product-card.png" alt="image")