.portfolio-section._bg-color
	._body
		._content
			._line._text-white
				._title.t-h2 Дизайн концепция
				._text.t-h4 Фирменный цвет является важным стилеобразующим компонентом. Основными фирменными цветами СМТ-МАКС согласно брендбуку являются синий и&nbsp;голубой. 
		._image._offset-left-right
			img(src="@@webRoot/img/portfolio/project-smt/mockups.png" alt="image")