.portfolio-section
	._container 
		._body
			._line
				._title.t-h2 Каталог
				._text.t-h4 В&nbsp;рамках проекта по&nbsp;редизайну сайта мы&nbsp;провели комплексное обновление ключевых страниц. Основной целью редизайна было улучшение пользовательского опыта, повышение удобства навигации и&nbsp;визуальной привлекательности. На&nbsp;странице «Каталог» мы&nbsp;переработали структуру и&nbsp;дизайн, чтобы&nbsp;сделать поиск товаров более интуитивно понятным.
			._line-2-row-col 
				._image
					img(src="@@webRoot/img/portfolio/project-smt/ctl-01.png" alt="image")
				._info 
					ul 
						li.t-h3 
							span Упрощённый интерфейс
						li Мы&nbsp;убрали лишние элементы, сосредоточив внимание на&nbsp;товарах. Теперь пользователи могут быстрее находить нужные категории.
			._line-2-row-col 
				._image
					img(src="@@webRoot/img/portfolio/project-smt/ctl-02.png" alt="image")
				._info 
					ul 
						li.t-h3 
							span Фильтры
						li Добавлены удобные фильтры по&nbsp;характеристикам.
			._line-2-row-col 
				._image
					img(src="@@webRoot/img/portfolio/project-smt/ctl-03.png" alt="image")
				._info 
					ul 
						li.t-h3 
							span Сравнение
						li Добавлена возможность сравнения товаров по&nbsp;основным характеристикам.
