.design-concept
	._body 
		._line
			._title.t-h2 Дизайн концепция
			._text.t-h4 Фирменный цвет является важным стилеобразующим компонентом. Основными фирменными цветами СМТ-МАКС согласно брендбуку являются синий и&nbsp;голубой.
		._image
			img(src="@@webRoot/img/portfolio/project-smt/mockups.png", alt="image")