.portfolio-performance 
	._wrapper
		._body
			._content
				._column.bp-3
					._title.t-h3
						h1.t-h1 Редизайн сайта для&nbsp; компании СмтМакс
					._text
						h3.t-h4 Компания СМТМакс является одним из&nbsp;ведущих
							| поставщиков SMT-оборудования в&nbsp;России и&nbsp;работает более
							| 10&nbsp;лет.
					a(href="#order")._button.button.anchor-link
						span Оставить заявку
						._icon.icon
							+iconfont('arrow-right', '_icon')
				._column
					._image(data-move-el="[{'bp-max': 768.98, 'index': 1, 'target': '.bp-3'}]")
						img(src="@@webRoot/img/portfolio/project-smt/perf.png" alt="картинка")