.portfolio-about
	._background
		img(src="../img/portfolio/project-smt/phonoteka.png" alt="картинка")
	._body 
		._content 
			._row
				._column 
					h2._title.t-h2 О проекте 
				._column 
					p._text.t-h4 Корпоративный многостраничный сайт для&nbsp;компании СмтМакс с&nbsp;каталогом поставляемой продукции
			._row
				._column
					h2._title.t-h2 Поставленная задача
				._column 
					p._text.t-h4 Обновить дизайн сайта, сделать его&nbsp;современным и&nbsp;привлекательным, а&nbsp;также&nbsp;удобным в&nbsp;использовании. Особое внимание уделить текстам на&nbsp;сайте&nbsp;— они&nbsp;должны быть информативными и&nbsp;легко читаемыми. Также&nbsp;необходимо разработать удобный поиск по&nbsp;товарам и&nbsp;услугам, чтобы&nbsp;клиенты могли быстро находить нужную информацию
			._row
				._column
					h2._title.t-h2 Проделанная работа
				._column 
					p._text.t-h4 Разработка логичной структуры сайта → дизайн концепция → написание SEO-текстов, в&nbsp;тексте прописали SEO-ключи → отрисовка дизайн-макета → вёрстка сайта → адаптация сайта под&nbsp;все&nbsp;виды устройств → сделали шаблон под&nbsp;новости компании→ создание шаблонов под&nbsp;карточки товаров→ сделали поиск по&nbsp;словам и&nbsp;по&nbsp;категориям товар→ внедрение CMS для&nbsp;удобства клиента→ подключение функционала, форм обратной связи, телефонов и&nbsp;мессенджеров → прописаны основные SEO-теги