.portfolio-section
	._container
		._body
			._line
				._title.t-h2 Структура сайта
				._text.t-h4 Любая разработка сайта, всегда начинается с&nbsp;продумывании грамотной структуры. Очень важно всю&nbsp;информацию подавать в&nbsp;правильном порядке и&nbsp;порционно. Новигация тоже&nbsp;должна быть логичной и&nbsp;понятной каждому пользователю.
			._line-1-row-col 
				._image
					img(src="@@webRoot/img/portfolio/project-smt/structure.png" alt="image")