.portfolio-section._offset-top
	._body 
		._line
			._title.t-h2 Услуги
			._text.t-h4 Новый дизайн блока «Услуги» предлагает интуитивно понятный интерфейс, который позволяет пользователям быстро и&nbsp;легко завершить покупку. Мы&nbsp;убрали лишние шаги и&nbsp;сделали акцент на&nbsp;важной информации, чтобы&nbsp;каждый этап был&nbsp;понятен. Теперь оформление заказа занимает всего несколько кликов.
		._line-2-col 
			._image
				img(src="@@webRoot/img/portfolio/project-smt/services-1.png" alt="image")
			._image
				img(src="@@webRoot/img/portfolio/project-smt/services-2.png" alt="image")