.portfolio-section
	._body.mlrp-b0101
		._line
			._title.t-h2 Дизайн&nbsp;главной страницы
			._text.t-h4
				| Дизайн&nbsp;— это&nbsp;не&nbsp;просто красиво. Каждый
				| элемент несёт огромный смысл. При&nbsp;помощи дизайна можно управлять
				| взглядом клиента и&nbsp;привести его&nbsp;к&nbsp;целевому действию.
		._content
			._line-main-col
				._image
					img(src="@@webRoot/img/portfolio/project-smt/desktop.png" alt="image")

			//._line-main-col
				._image.-resize
					img(src="@@webRoot/img/portfolio/project-smt/main-frame-001.png"
						alt="image")
			._line-main-col.-resize
				._image
					img(src="@@webRoot/img/portfolio/project-smt/main-frame-1.png" alt="image")
					.tooltip._tooltip
						._button
							+iconfont('plus', 'tooltip-button')
							+iconfont('minus', 'tooltip-button')
						._content
							p
								| Когда пользователь заходит на&nbsp;сайт, он&nbsp;за&nbsp;
								| 3&nbsp;–&nbsp;5
								| секунд должен понять, куда он&nbsp;попал и&nbsp;что&nbsp;ему
								| здесь&nbsp;предлагают.
								| В&nbsp;данном случае хороший читаемый оффер объясняет,
								| что&nbsp;на&nbsp;сайте можно приобрести оборудование&nbsp;смт.
								| Так&nbsp;же&nbsp;на&nbsp;первом экране расположены две&nbsp;
								| целевые кнопки&nbsp;— кнопка перехода в&nbsp;каталог и&nbsp;
								| кнопка «оставить заявку».
				._image
					img(src="@@webRoot/img/portfolio/project-smt/main-frame-2.png" alt="image")
					.tooltip._tooltip
						._button
							+iconfont('plus', 'tooltip-button')
							+iconfont('minus', 'tooltip-button')
						._content
							p
								| Далее идут блоки, которые знакомят пользователя &nbsp;
								| компанией и&nbsp;вызывают лояльность будущего покупателя.
				._image
					img(src="@@webRoot/img/portfolio/project-smt/main-frame-3.png" alt="image")
					.tooltip._tooltip
						._button
							+iconfont('plus', 'tooltip-button')
							+iconfont('minus', 'tooltip-button')
						._content
							p Главные смыслы этого&nbsp;блока, мы&nbsp;сделали более крупным шрифтом. Люди никогда не&nbsp;будут читать на&nbsp;сайте сплошной текст. А&nbsp;вот&nbsp;если&nbsp;его&nbsp;разбить на&nbsp;смыслы и&nbsp;выделить главные моменты, то&nbsp;он&nbsp;не&nbsp;останется незамеченным.
				._image
					img(src="@@webRoot/img/portfolio/project-smt/main-frame-4.png" alt="image")
					.tooltip._tooltip
						._button
							+iconfont('plus', 'tooltip-button')
							+iconfont('minus', 'tooltip-button')
						._content
							p Блок с&nbsp;услугами. При&nbsp;клике можно почитать про&nbsp;услугу подробнее
				._image
					img(src="@@webRoot/img/portfolio/project-smt/main-frame-5.png" alt="image")
					.tooltip._tooltip
						._button
							+iconfont('plus', 'tooltip-button')
							+iconfont('minus', 'tooltip-button')
						._content
							p Этот&nbsp;блок на&nbsp;предыдущем сайте нам&nbsp;очень понравился, мы&nbsp;лишь его&nbsp;немного изменили и&nbsp;встроили в&nbsp;новый дизайн
				._image
					img(src="@@webRoot/img/portfolio/project-smt/main-frame-6.png" alt="image")
					.tooltip._tooltip
						._button
							+iconfont('plus', 'tooltip-button')
							+iconfont('minus', 'tooltip-button')
						._content
							p Блок с&nbsp;проектами с&nbsp;возможностью перейти на&nbsp;страницу… как&nbsp;то&nbsp;подумать и&nbsp;описать по&nbsp;другому
				._image
					img(src="@@webRoot/img/portfolio/project-smt/main-frame-7.png" alt="image")
					.tooltip._tooltip
						._button
							+iconfont('plus', 'tooltip-button')
							+iconfont('minus', 'tooltip-button')
						._content
							p
								| Далее идут блоки с&nbsp;логотипами, отзывами,
								| благодарственными письмами и&nbsp;сертификатами. Эти&nbsp;
								| блоки тоже&nbsp;очень важны на&nbsp;сайте, их&nbsp;функция
								| вызывать доверия пользователя.
				._image
					img(src="@@webRoot/img/portfolio/project-smt/main-frame-8.png" alt="image")
				._image
					img(src="@@webRoot/img/portfolio/project-smt/main-frame-9.png" alt="image")
				._image
					img(src="@@webRoot/img/portfolio/project-smt/main-frame-10.png" alt="image")
					.tooltip._tooltip
						._button
							+iconfont('plus', 'tooltip-button')
							+iconfont('minus', 'tooltip-button')
						._content
							p Форма обратной связи. Её&nbsp;фон&nbsp;специально имеет насыщенный фирменный цвет и&nbsp;сильно выбивается из&nbsp;дизайна сайта. Это&nbsp;нужно для&nbsp;привлечения внимания.
				._image
					img(src="@@webRoot/img/portfolio/project-smt/main-frame-11.png" alt="image")
					.tooltip._tooltip
						._button
							+iconfont('plus', 'tooltip-button')
							+iconfont('minus', 'tooltip-button')
						._content
							p Аккуратный и&nbsp;стильный подвал всегда вызывает восторг у&nbsp;пользователя. Он&nbsp;всегда дублирует меню и&nbsp;немного больше даёт информации о&nbsp;компании и&nbsp;навигации по&nbsp;сайту
	._background
		img(src="@@webRoot/img/portfolio/project-smt/phonoteka.png" alt="картинка") 