.presentation.page__presentation
	._body
		._image
			img(src="@@webRoot/img/studiya.jpeg", alt="")
			._title
				h1._t-text Студия графического&nbsp;дизайна и&nbsp;веб&nbsp;-&nbsp;разработки
			._text 
				p Мы создаем индивидуальные дизайны, разрабатываем и проектируем мобильные приложения, системы автоматизации и веб-сайты.		

