section.project.page__progect
	._title Наши работы
	._body
		.tabs-buton._tabs
			._wrapper
				._item.tablink.active Всё
				._item.tablink Графический дизайн
				._item.tablink Создание сайтов
				._item.tablink Продвижение сайтов
			.burger-button._button 
				._wrapper
					.burger-button
						span
						span
						span 
		._content
			.tab-content
				._item.active
					._column
						._image
							img(src="@@webRoot/img/all-project/project-1.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-2.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-3.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-4.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-5.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-6.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')

			.tab-content.graphic-design
				._item
					._column
						._image
							img(src="@@webRoot/img/all-project/project-6.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-5.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-4.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-3.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-2.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-1.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')

			.tab-content.creating-websites 
				._item
					._column
						._image
							img(src="@@webRoot/img/all-project/project-5.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-3.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-2.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-4.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-6.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-1.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')

			.tab-content.promotion 
				._item
					._column
						._image
							img(src="@@webRoot/img/all-project/project-6.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-1.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-5.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-3.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-4.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
					._column
						._image
							img(src="@@webRoot/img/all-project/project-2.png", alt="Проект")
						._footer 
							._text Краткое описание работы и кнопка
							a(href="")._button.button 
								span Подробнее
								._icon.icon
									+iconfont('arrow-right', '_icon')
			._footer
				._button.button 
					span Смотреть всё 
					._icon.icon.icon
						+iconfont('arrow-dow', '_icon')