.project-page-section
	._body.pbl-lr-5010
		h2._title.t-h1 Наши работы
		h3._text.p-text В наше портфолио входят проекты 
			| и&nbsp;маркетплейсов, лендингов и&nbsp;корпоративных сайтов, сайтов-агрегаторов и&nbsp;медиаплатформ с&nbsp;рекламой. Мы&nbsp;предлагаем не&nbsp;просто услуги по&nbsp;разработке сайта. Мы&nbsp;предлагаем решение бизнес-задач клиентов с&nbsp;акцентом на&nbsp;удобство и&nbsp;эффективность продвижения в&nbsp;интернете
		._content
			.tab-content
				._items.active
					._column
						a(href="@@webRoot/portfolio/portfolio.html")._image
							img(src="@@webRoot/img/all-project/project-smt.png" alt="Проект")
						a(href="@@webRoot/portfolio/portfolio.html")._text
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							._icon
								+iconfont('arrow-right', '_icon') 
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-2.png" alt="Проект")
						a(href="")._text
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							._icon
								+iconfont('arrow-right', '_icon') 
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-3.png" alt="Проект")
						a(href="")._text
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							._icon
								+iconfont('arrow-right', '_icon') 
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-4.png" alt="Проект")
						a(href="")._text
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							._icon
								+iconfont('arrow-right', '_icon') 
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-5.png" alt="Проект")
						a(href="")._text
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							._icon
								+iconfont('arrow-right', '_icon') 
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-6.png" alt="Проект")
						a(href="")._text
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							._icon
								+iconfont('arrow-right', '_icon') 
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-1.png" alt="Проект")
						a(href="")._text
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							._icon
								+iconfont('arrow-right', '_icon') 
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-2.png" alt="Проект")
						a(href="")._text
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							._icon
								+iconfont('arrow-right', '_icon') 
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-3.png" alt="Проект")
						a(href="")._text
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							._icon
								+iconfont('arrow-right', '_icon') 
			._footer
				._button.button
					span Смотреть всe
					._icon.icon
						+iconfont('arrow-down', '_icon')
