section.project.page__progect
	._title(data-move-el="[{'bp-max': 1140.98, 'index': 0, 'target': '.bp-7'}]") Наши работы
	._body
		.tabs-button._tabs
			._wrapper
				._item.tablink.active 
					span Всё
				._item.tablink 
					span Графический дизайн
				._item.tablink
					span Создание сайтов
				._item.tablink
					span Продвижение сайтов
			.burger-button._button 
				._wrapper
					._items 
						span
						span
						span 
		._content.bp-7
			.tab-content
				._items.active
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-1.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-2.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-3.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon').
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-4.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon') 
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-5.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-6.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-1.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-2.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-3.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')

			.tab-content.graphic-design
				._items
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-6.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-5.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-4.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-3.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-2.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-1.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-6.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-5.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-4.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')

			.tab-content.creating-websites 
				._items
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-5.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-3.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-2.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-4.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-6.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-1.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-5.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-3.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-2.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')

			.tab-content.promotion 
				._items
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-6.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-1.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-5.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-3.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-4.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-2.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-6.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-1.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-5.png", alt="Проект")
						._text 
							span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
			._footer
				.button._button
					span Смотреть всё 
					._icon.icon
						+iconfont('arrow-dow', '_icon')