.project
	._body.pbl-lr-5010
		h2._title.t-h2 Наши работы
		.tabs-button._tabs 
			._wrapper
				._item.tablink.t-h3.active 
					span Все
				._item.tablink.t-h3 
					span Графический дизайн
				._item.tablink.t-h3
					span Создание сайтов
				._item.tablink.t-h3
					span Продвижение сайтов
			.burger-button._button 
				._wrapper
					._items 
						span
						span
						span 
		._content
			.tab-content
				._items.active
					._column
						a(href="@@webRoot/portfolio/portfolio.html")._image
							img(src="@@webRoot/img/all-project/project-smt.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="@@webRoot/portfolio/portfolio.html")._icon
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-2.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-3.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-4.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-5.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-6.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-1.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-2.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-3.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
			.tab-content.graphic-design
				._items
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-6.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-5.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-4.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-3.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-2.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-1.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-6.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-5.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-4.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
			.tab-content.creating-websites 
				._items
					._column
						a(href="@@webRoot/portfolio/project-smt.html")._image
							img(src="@@webRoot/img/all-project/project-smt.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="@@webRoot/portfolio/project-smt.html")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-3.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-2.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-4.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-6.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-1.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-5.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-3.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-2.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
			.tab-content.promotion 
				._items
					._column
						a(href="@@webRoot/portfolio/project-smt.html")._image
							img(src="@@webRoot/img/all-project/project-smt.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="@@webRoot/portfolio/project-smt.html")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-1.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-5.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-3.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-4.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-2.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-6.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-1.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
					._column
						a(href="")._image
							img(src="@@webRoot/img/all-project/project-5.png" alt="Проект")
						._text 
							span.t-h5 Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
							a(href="")._icon 
								+iconfont('arrow-right', '_icon')
			._footer
				a(href="@@webRoot/project.html")._button.button
					span Смотреть все
					._icon.icon
						+iconfont('arrow-down', '_icon')