.project
	h2._title.t-h2(data-move-el="[{'bp-max': 1140.98, 'index': 0, 'target': '.bp-7'}]") Наши работы
	.tabs-button._tabs
		._wrapper
			._item.tablink.t-h3.active 
				span.mlrp-b0101 Всё
			._item.tablink.t-h3 
				span.mlrp-b0101 Графический дизайн
			._item.tablink.t-h3
				span.mlrp-b0101 Создание сайтов
			._item.tablink.t-h3
				span.mlrp-b0101 Продвижение сайтов
		.burger-button._button 
			._wrapper
				._items 
					span
					span
					span 
	._content.mlrp-b0101.bp-7
		.tab-content
			._items.active
				._column
					a(href="@@webRoot/portfolio/project-smt.html")._image
						img(src="@@webRoot/img/all-project/project-smt.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="@@webRoot/portfolio/project-smt.html")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-2.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-3.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-4.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-5.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-6.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-1.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-2.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-3.png", alt="Проект")
					._text 
						span Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')

		.tab-content.graphic-design
			._items
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-6.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-5.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-4.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-3.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-2.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-1.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-6.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-5.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-4.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')

		.tab-content.creating-websites 
			._items
				._column
					a(href="@@webRoot/portfolio/project-smt.html")._image
						img(src="@@webRoot/img/all-project/project-smt.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="@@webRoot/portfolio/project-smt.html")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-3.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-2.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-4.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-6.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-1.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-5.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-3.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-2.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')

		.tab-content.promotion 
			._items
				._column
					a(href="@@webRoot/portfolio/project-smt.html")._image
						img(src="@@webRoot/img/all-project/project-smt.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="@@webRoot/portfolio/project-smt.html")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-1.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-5.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-3.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-4.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-2.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-6.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-1.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
				._column
					a(href="")._image
						img(src="@@webRoot/img/all-project/project-5.png", alt="Проект")
					._text 
						span.p-text Описание работы в две-три строчки. Дальше рыба-текст. Занимает три строки, а дальше добавляется многоточие...
						a(href="")._icon 
							+iconfont('arrow-right', '_icon')
							+iconfont('group', '_icon')
		._footer
			a(href="@@webRoot/project.html")._button.button
				span Смотреть всё 
				._icon.icon
					+iconfont('arrow-down', '_icon')