.services-price
	._body 
		h2._title.t-h2 Прайс на услуги
		._content
			._column
				.card-price._card
					h3._title.t-h3
						sapn Одностраничный сайт
						._close-btn
							+iconfont('plus', '_icon')
					._content 
						ul._list 
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Индивидуальный дизайн
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Продающие тексты
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Внедрение форм обратной связи
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Предварительная SEO-оптимизация
					._footer
						._price от 50 000 руб.
						a(href="")._button.button
							span Оставить заявку
							._icon-btn.icon
								+iconfont('arrow-right', '_icon')
						._open-btn.icon
							+iconfont('arrow-dow', '_icon')
			._column
				.card-price._card
					h3._title.t-h3
						sapn Интернет-магазин
						._close-btn
							+iconfont('plus', '_icon')
					._content 
						ul._list 
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Уникальный современный UX/UI дизайн
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Внедрение товарной корзины и личного кабинета
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Подключение онлайн оплаты
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Создание товарного каталога
					._footer
						._price от 200 000 руб.
						a(href="")._button.button 
							span Оставить заявку
							._icon-btn.icon
								+iconfont('arrow-right', '_icon')
						._open-btn.icon
							+iconfont('arrow-dow', '_icon')
			._column
				.card-price._card
					h3._title.t-h3
						sapn Корпоративный сайт
						._close-btn
							+iconfont('plus', '_icon')
					._content 
						ul._list 
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Индивидуальный дизайн
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Разработка продающих целевых страниц
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Внедрение контактных форм, компонентов и виджетов
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Многостраничный сайт
					._footer
						._price от 150 000 руб.
						a(href="")._button.button 
							span Оставить заявку
							._icon-btn.icon
								+iconfont('arrow-right', '_icon')
						._open-btn.icon
							+iconfont('arrow-dow', '_icon')