section.schedule.page__schedule
	._body 
		._items
			._item  
					h2 Как&nbsp;мы работаем
			._item 
				._number 01
				._title Консультация
				._text При первом контакте по&nbsp;телефону наш&nbsp;специалист отвечает на&nbsp;все интересующие вас вопросы
			._item 
				._number 02
				._title Коммерческое предложение
				._text Проводим аудит вашего бизнеса, готовим индивидуальное коммерческое предложение для&nbsp;реализации поставленных целей
			._item 
				._number 03
				._title Личная встреча
				._text Наш менеджер приезжает к&nbsp;вам в&nbsp;офис в&nbsp;любое удобное время, чтобы познакомиться и&nbsp;ответить на&nbsp;возникшие вопросы
			._item 
				._number 04
				._title Заключение договора
				._text После одобрения коммерческого предложения и&nbsp;согласования стоимости мы заключаем договор
			._item 
				._number 05
				._title Работа по договору
				._text После оплаты начинаем работу нацеленную на&nbsp;максимально быстрое достижение поставленных целей
