.schedule.mlrp-b0101 
	._body 
		._row
			._items
				._item  
					h2 Как&nbsp;мы работаем
				._item 
					._number 01
					h3._title.t-h3 Консультация
					._text При первом контакте по&nbsp;телефону наш&nbsp;специалист отвечает на&nbsp;все интересующие вас вопросы
				._item 
					._number 02
					h3._title.t-h3 Коммерческое предложение
					._text Проводим аудит вашего бизнеса, готовим индивидуальное коммерческое предложение для&nbsp;реализации поставленных целей
				._item 
					._number 03
					h3._title.t-h3 Личная встреча
					._text Наш менеджер приезжает к&nbsp;вам в&nbsp;офис в&nbsp;любое удобное время, чтобы познакомиться и&nbsp;ответить на&nbsp;возникшие вопросы
				._item 
					._number 04
					h3._title.t-h3 Заключение договора
					._text После одобрения коммерческого предложения и&nbsp;согласования стоимости мы заключаем договор
				._item 
					._number 05
					h3._title.t-h3 Работа по договору
					._text После оплаты начинаем работу нацеленную на&nbsp;максимально быстрое достижение поставленных целей 
