.page__section#container
	.description.panel.blue
		div
			h1 Layered pinning from bottom
			p A simple example where overlapping panels reveal from the bottom.
			.scroll-down
				| Scroll down
				.arrow
	section.panel.red
		div.red-box 
			ul._item 
				li 
					a(href="https://dennchik.github.io/Drag-Smooth-Scroller/" target="_blank") Scroller
				li 
					a(href="https://dennchik.github.io/Drag-Smooth-Scroller/simba.html" target="_blank") Simba 
				li 
					a(href="https://dennchik.github.io/Drag-Smooth-Scroller/pining.html" target="_blank") Pining 
				li 
					a(href="https://dennchik.github.io/Drag-Smooth-Scroller/split.html" target="_blank") Split 
				li 
					a(href="https://dennchik.github.io/Drag-Smooth-Scroller/evans.html" target="_blank") Evans 
				li
					a(href="https://dennchik.github.io/Drag-Smooth-Scroller/scrol-direction.html" target="_blank") Scrol-Direction 
			ul._item 
				li
					a(href="https://mobecan.com/?rrcid=1721225393873040326" target="_blank") Mobecan 
				li
					a(href="https://www.agima.ru/?rrcid=1721225393873040326" target="_blank") Agima 
				li
					a(href="https://itfactory.su/?utm_source=cmsmagazine&rrcid=1721225393873040326" target="_blank") It factory 
				li
					a(href="https://id-east.ru/?rrcid=1721225393873040326" target="_blank") East 
				li
					a(href="https://fittin.ru/?erid=LjN8KVDeY&utm_source=ratingruneta.ru%2F&utm_medium=cpm&utm_campaign=promo&rrcid=1721225393873040326" target="_blank") Fittin
				li
					a(href="https://adv.ru/?rrcid=1721225393873040326#Home" target="_blank") Adv 
				li
					a(href="https://mobileup.ru/?rrcid=1721225393873040326" target="_blank") Mobile up 
				li
					a(href="https://www.liqium.ru/" target="_blank") Liqium
			
			
	section.panel.orange 
		div TWO 
	section.panel.purple THREE 