section.page__services 
	.services
		._body 
			._item
				._column
					._title
						h1._t-text Студия графического&nbsp;дизайна и&nbsp;веб&nbsp;-&nbsp;разработки
						._teammates
							._image 
								img(src="@@webRoot/img/teammates/team-1.png", alt="фото")
							._image 
								img(src="@@webRoot/img/teammates/team-2.png", alt="фото")
							._image 
								img(src="@@webRoot/img/teammates/team-3.png", alt="фото")
							._image 
								img(src="@@webRoot/img/teammates/team-4.png", alt="фото")
							._image 
								img(src="@@webRoot/img/teammates/team-5.png", alt="фото")
							._image 
								img(src="@@webRoot/img/teammates/team-6.png", alt="фото")
						._button.button
							span Оставить заявку
							._icon.icon
								+iconfont('arrow-right', '_icon')
				.elipse-01
				.elipse-02
				.elipse-03
			._item
				.card
					._header 
						._title 
							h2 Мессенджеры
							._icon.icon
								+iconfont('whatsapp', '_icon') 
							._icon.icon
								+iconfont('telegram-fly', '_icon')  
				.card
					._header 
						._title 
							h2 Графический дизайн
							a(href="")._icon.icon
								+iconfont('arrow-up', '_icon') 
					._content 
						ul._list 
							li._item
								a(href="#")._link Логотип
							li._item
								a(href="#")._link Фирменный стиль
							li._item
								a(href="#")._link Дизайн упаковки
							li._item
								a(href="#")._link Дизайн печатной продукции
							li._item
								a(href="#")._link Дизайн презентаций
			._item
				.card
					._header 
						._title 
							h2 Веб-дизайн
							a(href="")._icon.icon
								+iconfont('arrow-up', '_icon') 
					._content 
						ul._list 
							li._item
								a(href="#")._link Дизайн сайта
							li._item
								a(href="#")._link Создание интернет-баннеров
							li._item
								a(href="#")._link Создание анимационных роликов
							li._item
								a(href="#")._link UX-UI дизайн
							li._item
								a(href="#")._link Оформление групп
			._item
				.card
					._header 
						._title 
							h2 Разработка
							a(href="")._icon.icon
								+iconfont('arrow-up', '_icon') 
					._content 
						ul._list 
							li._item
								a(href="#")._link Лендинг
							li._item
								a(href="#")._link Интернет-магазин
							li._item
								a(href="#")._link Корпоративный сайт
							li._item
								a(href="#")._link Приложение
							li._item
								a(href="#")._link Слойжные веб-проекты
			._item
				.card
					._header 
						._title 
							h2 Продвижение
							a(href="")._icon.icon
								+iconfont('arrow-up', '_icon') 
					._content 
						ul._list 
							li._item
								a(href="#")._link SEO продвижение
							li._item
								a(href="#")._link Контекстная реклама
							li._item
								a(href="#")._link Таргетированная реклама
							li._item
								a(href="#")._link Продвижение в маркетплейсах
							li._item
								a(href="#")._link SMM 