section.page__services 
	.services
		._body 
			._item
				._column
					._title
						h1._t-text Студия графического&nbsp;дизайна и&nbsp;веб&nbsp;-&nbsp;разработки
						._teammates
							._image 
								img(src="@@webRoot/img/teammates/team-1.png", alt="фото")
							._image 
								img(src="@@webRoot/img/teammates/team-2.png", alt="фото")
							._image 
								img(src="@@webRoot/img/teammates/team-3.png", alt="фото")
							._image 
								img(src="@@webRoot/img/teammates/team-4.png", alt="фото")
							._image 
								img(src="@@webRoot/img/teammates/team-5.png", alt="фото")
							._image 
								img(src="@@webRoot/img/teammates/team-6.png", alt="фото")
						._button.button
							span Оставить заявку
							._icon.icon
								+iconfont('arrow-right', '_icon')
				.elipse-01
				.elipse-02
				.elipse-03
			._item
				.card
					._header 
						._title 
							h2 Мессенджеры
							._icon.icon
								+iconfont('whatsapp', '_icon') 
							._icon.icon
								+iconfont('telegram-fly', '_icon')  
				a(href="").card
					._header 
						._title 
							h2 Графический дизайн
							._icon.icon
								+iconfont('arrow-up', '_icon') 
					._content 
						ul._list 
							li._item  Логотип
							li._item Фирменный стиль
							li._item Дизайн упаковки
							li._item Дизайн печатной продукции
							li._item Дизайн презентаций
			._item
				a(href="").card
					._header 
						._title 
							h2 Веб-дизайн
							._icon.icon
								+iconfont('arrow-up', '_icon') 
					._content 
						ul._list 
							li._item Дизайн сайта
							li._item Создание интернет-баннеров
							li._item Создание анимационных роликов
							li._item UX-UI дизайн
							li._item Оформление групп
			._item
				a(href="").card
					._header 
						._title 
							h2 Разработка
							._icon.icon
								+iconfont('arrow-up', '_icon') 
					._content 
						ul._list 
							li._item Лендинг
							li._item Интернет-магазин
							li._item Корпоративный сайт
							li._item Приложение
							li._item Слойжные веб-проекты
			._item
				a(href="").card
					._header 
						._title 
							h2 Продвижение
							._icon.icon
								+iconfont('arrow-up', '_icon') 
					._content 
						ul._list 
							li._item SEO продвижение
							li._item Контекстная реклама
							li._item Таргетированная реклама
							li._item Продвижение в маркетплейсах
							li._item SMM 