.services-price 
	._body 
		h2._title.t-h2 Прайс на услуги
		._content
			._column
				.card-price._card
					h3._title.t-h3
						sapn Одностраничный сайт
						._close-btn
							+iconfont('plus', '_icon')
					._content 
						ul._list 
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Индивидуальный дизайн
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Продающие тексты
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Внедрение форм обратной связи
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Предварительная SEO-оптимизация
					._footer
						._price от 50 000 руб.
						button._button.button
							span Оставить заявку
							._icon-btn.icon
								+iconfont('arrow-right', '_icon')
						._open-btn.icon
							+iconfont('arrow-down', '_icon')
			._column
				.card-price._card
					h3._title.t-h3 
						sapn Интернет-магазин
						._close-btn
							+iconfont('plus', '_icon')
					._content 
						ul._list 
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Уникальный современный UX/UI дизайн
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Внедрение товарной корзины и личного кабинета
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Подключение онлайн оплаты
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Создание товарного каталога
					._footer
						._price от 200 000 руб.
						button._button.button
							span Оставить заявку
							._icon-btn.icon
								+iconfont('arrow-right', '_icon')
						._open-btn.icon
							+iconfont('arrow-down', '_icon')
			._column
				.card-price._card
					h3._title.t-h3
						sapn Корпоративный сайт
						._close-btn
							+iconfont('plus', '_icon')
					._content 
						ul._list 
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Индивидуальный дизайн
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Разработка продающих целевых страниц
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Внедрение контактных форм, компонентов и виджетов
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Многостраничный сайт
					._footer
						._price от 150 000 руб.
						button._button.button
							span Оставить заявку
							._icon-btn.icon
								+iconfont('arrow-right', '_icon')
						._open-btn.icon
							+iconfont('arrow-down', '_icon')
			._column
				.card-price._card
					h3._title.t-h3
						sapn Фирменный стиль
						._close-btn
							+iconfont('plus', '_icon')
					._content 
						ul._list 
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Анализ конкурентов
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Две концепции на выбор
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Разработка логотипа
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Подбор палитры и шрифтовой пары
					._footer
						._price от 50 000 руб.
						button._button.button
							span Оставить заявку
							._icon-btn.icon
								+iconfont('arrow-right', '_icon')
						._open-btn.icon
							+iconfont('arrow-down', '_icon')
			._column
				.card-price._card
					h3._title.t-h3
						sapn Продвижение сайтов
						._close-btn
							+iconfont('plus', '_icon')
					._content 
						ul._list 
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text SEO-продвижение
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Контекстная реклама
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Таргетированная реклама
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text SMM
					._footer
						._price от 20 000 руб.
						button._button.button
							span Оставить заявку
							._icon-btn.icon
								+iconfont('arrow-right', '_icon')
						._open-btn.icon
							+iconfont('arrow-down', '_icon')
			._column
				.card-price._card
					h3._title.t-h3
						sapn Разработка логотипа 
						._close-btn
							+iconfont('plus', '_icon')
					._content 
						ul._list 
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Основная версия логотипа
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Логотип в фирменных и ч/б цветах
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Презентация с визуализаций
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Разработка логобука
					._footer
						._price от 15 000 руб.
						button._button.button
							span Оставить заявку
							._icon-btn.icon
								+iconfont('arrow-right', '_icon')
						._open-btn.icon
							+iconfont('arrow-down', '_icon')
			._column
				.card-price._card
					h3._title.t-h3
						sapn Дизайн упаковки
						._close-btn
							+iconfont('plus', '_icon')
					._content 
						ul._list 
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Анализ конкурентов
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Нанесение всей инфографики и информации о товар
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Презентация с визуализацией
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Подготовка макетов к печати
					._footer
						._price от 9 000 руб.
						button._button.button
							span Оставить заявку
							._icon-btn.icon
								+iconfont('arrow-right', '_icon')
						._open-btn.icon
							+iconfont('arrow-down', '_icon')
			._column
				.card-price._card
					h3._title.t-h3
						sapn Дизайн полиграфии
						._close-btn
							+iconfont('plus', '_icon')
					._content 
						ul._list 
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Визитка, листовка, бланк, сертификат
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Евробуклет
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Меню
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Наружная реклама
					._footer
						._price от 3 000 руб.
						button._button.button
							span Оставить заявку
							._icon-btn.icon
								+iconfont('arrow-right', '_icon')
						._open-btn.icon
							+iconfont('arrow-down', '_icon')
			._column
				.card-price._card
					h3._title.t-h3
						sapn Оформление соц. сетей 
						._close-btn
							+iconfont('plus', '_icon')
					._content 
						ul._list 
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Баннер
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Оформление страниц
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Паттерн
							li._item 
								._icon 
									+iconfont('coolicon', '_icon')
								._text Оформление товаров для маркетплейсов
					._footer
						._price от 4 000 руб.
						button._button.button
							span Оставить заявку
							._icon-btn.icon
								+iconfont('arrow-right', '_icon')
						._open-btn.icon
							+iconfont('arrow-down', '_icon')