.unknown-page
	._body
		._column
			._image 
				img(src="@@webRoot/img/portfolio/project-smt/frame-l.png", alt="Image")
		._column
			._image 
				img(src="@@webRoot/img/portfolio/project-smt/frame-r.png", alt="Image")