.footer {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	box-sizing: content-box;

	// .footer__body
	&__body {
		position: relative;
		padding: 70px 50px 120px;
		overflow: hidden;

		@include _screen-1440 {
			padding: 50px 10px;
		}

		@include _screen-375 {
			padding: 50px 10px 10px;
		}

		@include _min-490 {
			background-image: radial-gradient(
					ellipse at 17% 15%,
					#171b1c 25%,
					#171b1c67 60%,
					transparent 100%
				),
				radial-gradient(
					circle at 40% 140%,
					#eeeeee6a 0%,
					#2b3769 25%,
					transparent
				),
				radial-gradient(
					circle at 100% 100%,
					#eeeeee4d 0%,
					#2b3769 20%,
					transparent
				),
				radial-gradient(
					ellipse at 30% 2%,
					#171b1c 70%,
					rgb(43, 55, 105) 100%,
					transparent
				),
				radial-gradient(
					circle at center left,
					rgba(238, 238, 238, 0) 10%,
					rgb(4, 5, 10) 50%,
					transparent
				);
		}

		@include _screen-490 {
			background-image: radial-gradient(
					ellipse at bottom center,
					#2b37695b,
					transparent
				),
				radial-gradient(
					ellipse at 10% 19%,
					#171b1c 35%,
					#eeeeee00 70%,
					transparent 100%
				),
				radial-gradient(
					circle at 0% 100%,
					#eeeeee25 0%,
					#2b376964 30%,
					transparent
				),
				radial-gradient(
					circle at 100% 0%,
					#eeeeee41 0%,
					#2b3769 30%,
					transparent
				),
				radial-gradient(
					ellipse at 30% 2%,
					#171b1c 0%,
					#2b3769 100%,
					transparent
				);
		}
	}

	// .schedule__row
	&__row {
		position: relative;
		z-index: 9;
	}

	// .footer__header
	&__header {
		border-bottom: 1.54px solid #bcbcbc8e;
		padding-bottom: 26px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 60px;
		justify-content: space-between;

		@include _screen-1440 {
			gap: 20px;
		}

		@include _screen-490 {
			gap: 10px;
		}

		@include _screen-490 {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .footer__logo
	&__logo {
		display: flex;
		align-items: center;
		margin-left: -5px;

		a {
			transition: all 0.4s ease 0s;
			white-space: nowrap;
			color: #fff;
			font-size: 19px;
			line-height: 116.666667%; /* 28px/24 */

			@include _screen-690 {
				font-size: 15px;
			}

			&:hover {
				opacity: 0.6;
			}
		}
	}

	// .footer__icon
	&__icons {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		@include _screen-490 {
			justify-content: flex-start;
		}

		.icon-telegram-fly {
			background: #039be5;
		}

		.icon-whatsapp {
			background: #4caf50;
		}

		.icon-vk-brand {
			background: $color;

			&::before {
				font-size: 1.8rem !important;
			}
		}

		.icon-youtube-lg {
			background: #f03;

			&::before {
				color: white !important;
			}
		}

		.icon-dzen {
			&::before {
				font-size: 3.299rem !important;
			}
		}

		._icon {
			width: 3.3rem;
			height: 3.3rem;
			border-radius: 50%;

			&::before {
				color: #fff;
				font-size: 2rem;
				font-weight: 400;
			}
		}

		.footer__link {
			&:hover {
				animation: shake 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
			}
		}
	}

	// .footer__link
	&__link {
		color: #fff;
		// line-height: 118.75%; /* 19px/16 */
		white-space: nowrap;

		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	// .footer__content
	&__content {
		position: relative;
		z-index: 9;
		padding-top: 25px;
		display: grid;
		justify-content: space-between;
		grid-template-columns:
			minmax(150px, 33.333%) minmax(170px, 180px)
			minmax(150px, 33.333%);
		gap: 60px;
		height: 100%;

		@include _1440-1920 {
			gap: calc(20px + (60 - 20) * ((100vw - 1440px) / (1920 - 1440)));
		}

		@include _screen-1440 {
			gap: 15px;
			column-gap: 30px;
		}

		@include _screen-768 {
			grid-template-columns: repeat(2, 1fr);
		}
		@include _screen-425 {
			grid-template-columns: 1fr;
		}
	}

	// .footer__column
	&__column {
		display: flex;
		gap: 10px;
		flex-direction: column;
		padding-bottom: 20px;

		&:nth-child(3) {
			@include _min-768 {
				align-items: flex-end;
			}
		}

		@include _screen-768 {
			&:nth-child(1) {
				border-bottom: 1px solid #414141;
			}

			&:nth-child(2) {
				grid-row: 1 / 2;
				grid-column: 1 / 3;
			}
			&:not(:last-child) {
				border-bottom: 1px solid #4141415b;
			}
		}
		@include _screen-425 {
			&:nth-child(1) {
				grid-column: 1 / 2;
				grid-row: 2 / 3;
			}

			&:nth-child(2) {
				grid-column: 1 / 2;
			}
		}
	}

	//. footer__list
	&__list {
		&:not(:last-child) {
			margin-bottom: 5px;

			@include _screen-690 {
				margin-bottom: 0;
			}
		}
	}

	//. footer__menu
	&__menu {
		@include _screen-768 {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			justify-content: space-between;
			gap: 30px;
		}
	}

	// .footer__head
	&__head {
		font-size: 16px;
		color: #8d8d8d;
		text-align: left;

		@include _screen-490 {
			font-size: 15px;
			margin-bottom: 0 !important;
		}
	}

	// .footer__info
	&__info {
		flex: 1 1 auto;

		li {
			color: #fff;

			&:not(:last-child) {
				margin-bottom: 10px;
			}

			@include _screen-690 {
				font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (960 - 320)));
			}

			@include _screen-490 {
				font-size: 12px;
			}
		}
	}

	// .footer__privacy-policy
	&__privacy-policy {
		color: #fff;
		line-height: 118.75%; /* 19px/16 */
	}

	// .footer__item
	&__item {
		.footer__link {
			line-height: initial;
			&:hover {
				color: #ffffff;
			}
			@extend .underline-fl;
		}

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	// .footer__contacts
	&__contacts {
		@include _min-768 {
			flex: 1 1 auto;
		}

		@include _screen-768 {
			margin-bottom: 2rem;
		}
	}

	// .footer__phone
	&__phone {
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		text-align: left;
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		flex-wrap: wrap;
		line-height: 125%;

		span {
			white-space: nowrap;
		}

		li:not(:last-child) {
			margin-bottom: 10px;
		}

		@include _screen-690 {
			font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (960 - 320)));
		}

		@include _screen-490 {
			font-size: 12px;
		}
	}

	// .footer__mail
	&__mail {
		color: #fff;
		line-height: 118.75%; /* 19px/16 */
		text-align: left;
	}

	// .footer__address
	&__address {
		color: #fff;
		max-width: 350px;
		line-height: 150.923077%; /* 23/13 */

		@include _min-768 {
			text-align: right;
		}
	}
}

.link-transform {
	height: 100%;
	position: relative;
	display: inline-block;
	transition: all 0.2s ease;
	overflow: hidden;

	span {
		position: relative;
		display: block;
		transform: translateY(0);

		&::before {
			content: attr(data-text);
			font-weight: 400 !important;
			position: absolute;
			top: 100%;
			left: 0;
			transition: transform 0.5s ease;
			transform: translateY(0);
			pointer-events: none;
			user-select: none;
		}

		@include _1440-1920 {
			font-size: calc(14px + (16 - 14) * ((100vw - 1440px) / (1920 - 1440)));
		}
	}

	&:hover {
		span {
			animation: moveText 0.4s forwards;
		}
	}
}

// Анимация для перемещения текста
.underline-fl {
	&:hover {
		opacity: 1;

		&::before {
			width: 47%;
		}

		&::after {
			width: 47%;
		}
	}

	&::before {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		width: 0;
		height: 1px;
		background-color: #ffffff;
		opacity: 0.8;
		transition: width 0.3s ease-in-out;
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 1px;
		background-color: #ffffff;
		opacity: 0.8;
		transition: width 0.3s ease-in-out;
	}
}
