.header {
	max-width: $maxWidthContainer;
	margin: 0 auto;

	// .header__body
	&__body {
		width: 100%;
		display: grid;
		grid-template-columns: min-content 1fr min-content;
		align-items: center;

		@include _min-1440 {
			padding: 0 50px;
		}

		@include _screen-1440 {
			padding: 0 20px;
		}

		@include _screen-768 {
			grid-template-columns: min-content max-content;
			justify-content: space-between;
		}
	}

	@include _screen-490 {
		padding: 0 10px;
	}

	// .header__image
	&__image {
		width: 40px;
		height: 40px;
	}

	// .heade__title
	&__title {
		font-family: $font-defoult;
		font-size: 19px;
		font-weight: 900;
		line-height: 126.315789%; /* 24px/19 */
		white-space: nowrap;

		span {
			display: block;
			&:nth-child(2) {
				font-size: 14px;
				font-weight: 500;
				line-height: 100%;
				text-align: left;
				margin-left: -5px;
			}
		}
	}

	// .header__logo
	&__logo {
		display: flex;
		align-items: center;
		margin-right: 4.7rem;

		@include _screen-490 {
			margin-right: 3rem;
		}
	}

	// .header__menu
	&__menu {
		width: 100%;
		display: inline-flex;
		justify-content: flex-end;
		padding-right: 3vw;

		@include _screen-768 {
			// display: none;
		}
	}

	// .header__contacts
	&__contacts {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		justify-self: end;
	}

	// .header__phone
	&__phone {
		text-align: right;
		white-space: nowrap;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 600;
			line-height: 131.25%; /* 21px/16 */
		}

		span {
			margin-left: 1.5rem;

			@include _screen-490 {
				display: none;
			}
		}

		._icon {
			font-size: 32px;

			@include _min-490 {
				display: none;
			}
		}

		@extend .underline;
	}

	// .header__button
	&__button {
		margin-left: 2rem;
		width: 35px;
		height: 35px;
		overflow: hidden;
		display: none;
		@include _screen-768 {
			display: flex;
		}
	}
}

.menu-list {
	// .menu-list__link
	&__link {
		position: relative;
		font-size: 1.6rem;
		white-space: nowrap;
		font-weight: 600;
		opacity: 0.6;
		transition: all 0.4s ease-in-out;

		&:not(:last-child) {
			margin-right: 4.2rem;
		}
		@extend .underline;
	}
}
