.sidebar-menu {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: calc(100% - 50px);
	z-index: 10;
	transform: translateY(-120%);
	will-change: transform;
	display: flex;
	backdrop-filter: blur(7px);

	&::before {
		content: '';
		position: fixed;
		top: 100%;
		left: 0;
		width: 100%;
		height: 0;
		transform: translateY(-50%);
		transition: height 0.4s ease-out 0.7s;
		background: #171b1c;
	}

	// .sidebar-menu__column
	&__column {
		opacity: 0;
		width: 100%;
		overflow-x: hidden;
		min-width: 300px;

		@include _min-960 {
			flex: 0 1 40%;
		}

		@include _screen-490 {
			width: 100%;
		}

		&:nth-child(2) {
			width: 100%;
			display: flex;
			justify-content: center;
			flex: 0 1 auto;
			overflow: hidden;
			@include _screen-960 {
				display: none;
			}
		}
	}

	// .sidebar-menu__menu
	&__menu {
		width: 100%;
		position: relative;
		z-index: 15;
		padding: 40px 25px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.header__menu {
			flex-direction: column;
		}
	}

	// .sidebar-menu__menu-list
	.menu-list {
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;

		// .menu-list__link
		&__link {
			position: relative;
			align-self: start;
			font-size: 20px;
			font-weight: 400;
			opacity: 1;
			white-space: nowrap;

			opacity: 0.8;
			transition: all 0.5s ease-in-out;

			// margin-bottom: 20px;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			&:hover {
				opacity: 1;
			}

			@extend .underline;
		}
	}

	// .sidebar-menu__order
	&__order {
		position: relative;

		&::before {
			content: '';
			margin-bottom: 40px;
			display: block;
			height: 2px;
			width: 100%;
			opacity: 1;
			background: linear-gradient(to right, #ffffff69, #2b3769);
		}

		&::after {
			content: '';
			margin-top: 40px;
			display: block;
			height: 2px;
			width: 100%;
			opacity: 1;
			background: linear-gradient(to left, #ffffff69, #2b3769);
		}
	}

	// .sidebar-menu__project-button
	&__project-button {
		font-size: 24px;
		font-weight: 500;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .sidebar-menu__button
	&__button {
		cursor: pointer;
		position: relative;
		width: 7.8rem;
		height: 7.8rem;
		border-radius: 50%;
		border: 1px solid #ffffff3b;
		background: $color;

		opacity: 0;
		overflow: hidden;

		.icon-arrow-right {
			position: relative;
			z-index: 9;

			transition: 0.5s linear;
			transition: all 0.4s ease-in-out;

			&::before {
				font-size: 24px;
				color: #fff;
				opacity: 0.6;
			}
		}

		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #2b3769;
			clip-path: circle(var(--size) at var(--clip));
			transition: all 0.7s ease-in-out;
		}

		&:hover {
			.icon-arrow-right {
				z-index: 9;
				transform: rotate(-45deg);
			}

			&:before {
				--size: 100px;
			}
		}
	}

	// .sidebar-menu__row
	&__row {
		color: #fff;
		display: flex;
		gap: 15px;
		justify-content: space-between;
		padding-top: 30px;
		width: 100%;

		@include _screen-375 {
			align-items: flex-start;
			flex-direction: column-reverse;
			gap: 40px;
		}
	}

	// .sidebar-menu__slide
	&__slide {
		position: relative;
		z-index: 999;
		height: 100%;
		display: flex;
		gap: 30px;
		background-size: cover;
		background-position: center;
	}

	&._open-menu {
		transform: translateY(0px);

		.sidebar-menu__column {
			opacity: 1;
			transition: opacity 0.7s ease-in-out 0.9s;
		}

		&::before {
			height: 200%;
			background-image: radial-gradient(
					at 51.219887531528066% 73.75802524063498%,
					hwb(228 17% 59%) 0%,
					hsla(228.38709677419354, 41.891891891891895%, 29.01960784313725%, 0)
						100%
				),
				radial-gradient(
					at 82.3747128137153% 47.854555124063424%,
					hsla(192, 9.803921568627452%, 10%, 1) 0%,
					hsla(192, 9.803921568627452%, 10%, 0) 100%
				),
				radial-gradient(
					at 7.222668315528513% 65.99692412690541%,
					hsla(192, 9.803921568627452%, 10%, 1) 0%,
					hsla(192, 9.803921568627452%, 10%, 0) 100%
				),
				radial-gradient(
					at 28.247189370281145% 40.43717988749253%,
					hsla(192, 9.803921568627452%, 10%, 1) 0%,
					hsla(192, 9.803921568627452%, 10%, 0) 100%
				),
				radial-gradient(
					at 54.59975191052144% 0.011447407615872152%,
					hsla(228.38709677419354, 41.891891891891895%, 29.01960784313725%, 1)
						0%,
					hsla(228.38709677419354, 41.891891891891895%, 29.01960784313725%, 0)
						100%
				),
				radial-gradient(
					at 79.74105101791258% 72.89600397390794%,
					hsla(192, 9.803921568627452%, 10%, 1) 0%,
					hsla(192, 9.803921568627452%, 10%, 0) 100%
				),
				radial-gradient(
					at 27.353713288329608% 60.00042076869605%,
					hsla(192, 9.803921568627452%, 10%, 1) 0%,
					hsla(192, 9.803921568627452%, 10%, 0) 100%
				),
				radial-gradient(
					at 30.871687014459216% 51.91539250189692%,
					hsla(192, 9.803921568627452%, 10%, 1) 0%,
					hsla(192, 9.803921568627452%, 10%, 0) 100%
				),
				radial-gradient(
					at 15.415090896688245% 72.75274820343758%,
					hsla(228.38709677419354, 41.891891891891895%, 29.01960784313725%, 1)
						0%,
					hsla(228.38709677419354, 41.891891891891895%, 29.01960784313725%, 0)
						100%
				);
		}

		.sidebar-menu__order {
			&::before {
				opacity: 1;
				transition: opacity 0.7s ease-in-out 0.9s;
				will-change: opacity;
			}
			&::after {
				opacity: 1;
				transition: opacity 0.7s ease-in-out 0.9s;
				will-change: opacity;
			}
		}

		.menu-list__link {
			color: #fff;
			transition: color 0.9s ease-in-out 0.7s;
			will-change: color;
		}

		.sidebar-menu__button {
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 1;
			transition: opacity 0.7s ease-in-out 0.7s;
			will-change: opacity;
		}

		.main-wrapper {
			opacity: 1;
			transition: opacity 0.7s ease-in-out 0.9s;
			will-change: opacity;
		}
	}

	&._close-menu {
		transition: height 1s ease-out 0s;
		.sidebar-menu__column {
			opacity: 0;
			transition: opacity 0.3s ease-in-out 0.7s;
		}
		.main-wrapper {
			opacity: 0;
			transition: opacity 0.3s ease-in-out 0.7s;
			will-change: opacity;
		}

		.sidebar-menu__order {
			&::before {
				opacity: 0;
				transition: opacity 0.2s ease-in-out 0.7s;
				will-change: opacity;
			}

			&::after {
				opacity: 0;
				transition: opacity 0.2s ease-in-out 0.7s;
				will-change: opacity;
			}
		}

		.menu-list__link {
			color: #ffffff00;
			transition: color 0.9s ease-in-out 0.7s;
			will-change: color;
		}

		.sidebar-menu__button {
			opacity: 0;
			transition: opacity 0.7s ease-in-out 0.2s;
			will-change: opacity;
		}

		&::before {
			height: 0;
		}
	}
}

.networks {
	width: 100%;
	// .networks__icon
	&__icon {
		flex: 0 1 50%;
		gap: 10px;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: start;

		span {
			margin-left: 20px;
			font-size: 16px;

			opacity: 0.9;
			font-weight: 400;
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}
		._icon {
			font-size: 34px;
			color: #859dff;

			&::before {
				font-weight: 900;
			}
		}

		.icon-vk-draw {
			color: #091216;
		}

		.icon-whatsapp-draw {
			color: #4caf50;
		}

		.icon-telegram-draw {
			color: #039be5;
		}
		.icon-youtube {
			color: red;
		}

		.icon-dzen {
			color: #fff;
		}
	}
}

.contacts {
	flex: 0 1 50%;
	font-weight: 600;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	span {
		display: block;
		font-size: 18px;
		text-transform: uppercase;
	}

	&__phone {
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		justify-content: end;

		span {
			margin-bottom: 10px;
			width: 111px;
			font-size: 14px;
			font-weight: 900;
			text-align-last: left;
			color: #8d8d8d;
		}
		a {
			white-space: nowrap;
			font-size: 15px;
			opacity: 0.9;
			font-weight: 400;
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}

	&__mail {
		margin-bottom: 10px;
		text-align: start;

		span {
			margin-bottom: 10px;
			font-size: 13px;
			text-align-last: left;
			font-size: 14px;
			font-weight: 700;
			color: #8d8d8d;
		}

		a {
			font-size: 15px;
			opacity: 0.9;
			font-weight: 400;
		}
	}
}
