.sidebar-menu {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: calc(100% - 50px);
	z-index: 10;
	transform: translateY(-120%);
	will-change: transform;
	display: flex;
	backdrop-filter: blur(7px);

	background-image: radial-gradient(
			at 68.87181401039551% 24.137772812877145%,
			hsla(236.47058823529412, 37.77777777777777%, 44.11764705882353%, 1) 0%,
			hsla(236.47058823529412, 37.77777777777777%, 44.11764705882353%, 0) 100%
		),
		radial-gradient(
			at 10.654305874398883% 44.38312495846868%,
			hsla(206.55737704918033, 42.65734265734265%, 28.03921568627451%, 1) 0%,
			hsla(206.55737704918033, 42.65734265734265%, 28.03921568627451%, 0) 100%
		),
		radial-gradient(
			at 88.72663151173764% 7.84796399404506%,
			hsla(228.38709677419354, 41.891891891891895%, 29.01960784313725%, 1) 0%,
			hsla(228.38709677419354, 41.891891891891895%, 29.01960784313725%, 0) 100%
		),
		radial-gradient(
			at 17.37321849311464% 58.372513253075354%,
			hsla(222.85714285714286, 19.178082191780824%, 28.627450980392155%, 1) 0%,
			hsla(222.85714285714286, 19.178082191780824%, 28.627450980392155%, 0) 100%
		),
		radial-gradient(
			at 26.333983145657513% 71.5811896497285%,
			hsla(0, 0%, 16.07843137254902%, 1) 0%,
			hsla(0, 0%, 16.07843137254902%, 0) 100%
		),
		radial-gradient(
			at 18.053474202763866% 33.02964124435257%,
			hsla(236.47058823529412, 37.77777777777777%, 44.11764705882353%, 1) 0%,
			hsla(236.47058823529412, 37.77777777777777%, 44.11764705882353%, 0) 100%
		);

	&::before {
		content: '';
		position: fixed;
		top: 100%;
		left: 0;
		width: 100%;
		height: 0;
		transform: translateY(-50%);
		transition: height 0.4s ease-out 0.7s;
	}

	// .sidebar-menu__column
	&__column {
		opacity: 0;
		width: 100%;
		overflow-x: hidden;
		min-width: 300px;

		@include _min-960 {
			flex: 0 1 40%;
		}

		@include _screen-490 {
			width: 100%;
		}

		&:nth-child(2) {
			width: 100%;
			display: flex;
			justify-content: center;
			flex: 0 1 auto;
			overflow: hidden;
			@include _screen-960 {
				display: none;
			}
		}
	}

	// .sidebar-menu__menu
	&__menu {
		width: 100%;
		position: relative;
		z-index: 15;
		padding: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@include _screen-490 {
			padding: 30px 15px;
		}

		.header__menu {
			flex-direction: column;
		}
	}

	// .sidebar-menu__menu-list
	.menu-list {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;

		// .menu-list__link
		&__link {
			position: relative;
			text-transform: uppercase;
			align-self: start;
			font-size: 18px;
			font-weight: 600;
			opacity: 1;
			white-space: nowrap;
			font-family: $font-family-third;
			color: #171b1c;
			opacity: 0.7;
			transition: all 0.5s ease-in-out;

			// margin-bottom: 20px;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			&:hover {
				opacity: 1;
			}

			@extend .underline;
		}
	}

	// .sidebar-menu__order
	&__order {
		position: relative;

		&::before {
			content: '';
			margin-bottom: 30px;
			display: block;
			height: 2px;
			width: 100%;
			opacity: 0;
			background: #aaaaaa;
			box-shadow: inset 0 0 2px #dbdbdb;
		}

		&::after {
			content: '';
			margin-top: 30px;
			display: block;
			height: 2px;
			width: 100%;
			opacity: 0;
			background: #aaaaaa;
			box-shadow: inset 0 0 2px #dbdbdb;
		}
	}

	// .sidebar-menu__project-button
	&__project-button {
		text-transform: uppercase;
		font-family: $font-family-third;
		font-size: 18px;
		font-weight: 700;
		color: #171b1c;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .sidebar-menu__button
	&__button {
		cursor: pointer;
		position: relative;
		width: 7.8rem;
		height: 7.8rem;
		border-radius: 50%;
		border: 2px solid #48505d;
		opacity: 0;
		overflow: hidden;

		.icon-arrow-right {
			position: relative;
			z-index: 9;
			color: #48505d;
			font-size: 24px;
			transition: 0.5s linear;
			transition: all 0.4s ease-in-out;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #2b3769;
			clip-path: circle(var(--size) at var(--clip));
			transition: all 0.7s ease-in-out;
		}

		&:hover {
			.icon-arrow-right {
				z-index: 9;
				transform: rotate(-45deg);
			}

			&:before {
				--size: 100px;
			}
		}
	}

	// .sidebar-menu__row
	&__row {
		display: flex;
		gap: 15px;
		justify-content: space-between;
		padding: 40px 0 0;
		width: 100%;

		@include _screen-375 {
			align-items: flex-start;
			flex-direction: column-reverse;
			gap: 40px;
		}
	}

	// .sidebar-menu__slide
	&__slide {
		position: relative;
		z-index: 999;
		height: 100%;
		display: flex;
		gap: 30px;
		background-size: cover;
		background-position: center;
	}

	&._open-menu {
		transform: translateY(0px);
		.sidebar-menu__column {
			opacity: 1;
			transition: opacity 0.7s ease-in-out 0.9s;
		}
		&::before {
			height: 200%;
			background: #fff;

			background-image: radial-gradient(
					at 51.85326667373638% 71.70623351770682%,
					hsla(224.6153846153846, 93.6%, 75.49019607843137%, 1) 0%,
					hsla(224.6153846153846, 93.6%, 75.49019607843137%, 0) 100%
				),
				radial-gradient(
					at 94.88476743969771% 68.30591969798232%,
					hsla(228, 40.54054054054054%, 29.01960784313725%, 1) 0%,
					hsla(228, 40.54054054054054%, 29.01960784313725%, 0) 100%
				),
				radial-gradient(
					at 99.88422108899297% 49.85846319611375%,
					hsla(0, 0%, 63.921568627450974%, 1) 0%,
					hsla(0, 0%, 63.921568627450974%, 0) 100%
				),
				radial-gradient(
					at 21.14832892328302% 66.799695723161%,
					hsla(0, 0%, 100%, 1) 0%,
					hsla(0, 0%, 100%, 0) 100%
				);
		}

		.sidebar-menu__order {
			&::before {
				opacity: 1;
				transition: opacity 0.7s ease-in-out 0.9s;
				will-change: opacity;
			}
			&::after {
				opacity: 1;
				transition: opacity 0.7s ease-in-out 0.9s;
				will-change: opacity;
			}
		}

		.menu-list__link {
			color: #171b1c;
			transition: color 0.9s ease-in-out 0.7s;
			will-change: color;
		}

		.sidebar-menu__button {
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 1;
			transition: opacity 0.7s ease-in-out 0.7s;
			will-change: opacity;
		}

		.main-wrapper {
			opacity: 1;
			transition: opacity 0.7s ease-in-out 0.9s;
			will-change: opacity;
		}
	}

	&._close-menu {
		transition: height 1s ease-out 0s;
		.sidebar-menu__column {
			opacity: 0;
			transition: opacity 0.3s ease-in-out 0.7s;
		}
		.main-wrapper {
			opacity: 0;
			transition: opacity 0.3s ease-in-out 0.7s;
			will-change: opacity;
		}

		.sidebar-menu__order {
			&::before {
				opacity: 0;
				transition: opacity 0.2s ease-in-out 0.7s;
				will-change: opacity;
			}

			&::after {
				opacity: 0;
				transition: opacity 0.2s ease-in-out 0.7s;
				will-change: opacity;
			}
		}

		.menu-list__link {
			color: #ffffff00;
			transition: color 0.9s ease-in-out 0.7s;
			will-change: color;
		}

		.sidebar-menu__button {
			opacity: 0;
			transition: opacity 0.7s ease-in-out 0.2s;
			will-change: opacity;
		}

		&::before {
			height: 0;
		}
	}
}

.networks {
	// .networks__icon
	&__icon {
		color: #171b1c;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: start;
		font-size: 10px;
		text-transform: uppercase;

		span {
			margin-left: 20px;
			font-size: 14px;
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}
		._icon {
			font-size: 40px;
			color: $color;

			&::before {
				font-weight: 900;
			}
		}
	}
}

.contacts {
	flex: 0 1 50%;
	font-weight: 600;
	font-size: 16px;
	color: #171b1c;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	span {
		display: block;
		font-size: 18px;
		text-transform: uppercase;
	}

	&__phone {
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		justify-content: end;

		span {
			margin-bottom: 10px;
			width: 111px;
			font-size: 14px;
			font-weight: 900;
			text-align-last: left;
		}
		a {
			font-size: 13px;
		}
	}

	&__mail {
		margin-bottom: 10px;
		text-align: start;

		span {
			margin-bottom: 10px;
			font-size: 13px;
			text-align-last: left;
			font-size: 14px;
			font-weight: 700;
		}

		a {
			font-size: 13px;
		}
	}
}
