@use 'core/variables' as *;
@use 'core/mixins' as *;
@use '../core/extend' as *;

.sidebar-menu {
	position: fixed;
	z-index: 10;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	height: calc(100% - 50px);
	transform: translateY(-120%);
	will-change: transform;
	backdrop-filter: blur(7px);

	&::before {
		position: fixed;
		top: 100%;
		left: 0;
		width: 100%;
		height: 0;
		content: '';
		transition: height 0.2s ease-out 0.4s;
		transform: translateY(-50%);
		background: #171b1c;
	}

	// .sidebar-menu__column
	&__column {
		width: 100%;
		min-width: 300px;
		opacity: 0;

		@include min-960 {
			flex: 0 1 40%;
		}

		@include screen-490 {
			width: 100%;
		}

		&:nth-child(2) {
			display: flex;
			overflow: hidden;
			flex: 0 1 auto;
			justify-content: center;
			width: 100%;

			@include screen-960 {
				display: none;
			}
		}
	}

	// .sidebar-menu__menu
	&__menu {
		position: relative;
		z-index: 15;
		display: flex;
		overflow-x: hidden;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		padding: 40px 30px;

		@include screen-375 {
			padding: 40px 10px;
		}

		.header__menu {
			flex-direction: column;
		}
	}

	// .sidebar-menu__menu-list
	.menu-list {
		display: inline-flex;
		align-items: start;
		flex-direction: column;
		margin-bottom: 30px;

		// .menu-list__item
		&__item {
			align-items: start;
			flex-direction: column;

			&:nth-child(3) {
				display: grid;
				grid-template-rows: 0fr;

				.menu-list__link {
					pointer-events: none;
				}
			}

			&._open {
				&:nth-child(3) {
					display: grid;
					grid-template-rows: 1fr;
				}

				.icon-angle-down {
					transform: translateY(2px) scale(-1);
				}

				.menu-list__sub-menu {
					transform: rotateX(0);
					opacity: 1;
					grid-template-rows: 1fr;
				}
			}

			&:hover {
				.menu-list__sub-menu {
					height: 100%;
				}
			}

			.icon-angle-down {
				transform: translateY(2px);
			}

			.icon-angle-down,
			.icon-chain-broken {
				color: #fff !important;
			}

			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}

		// .menu-list__list
		&__list {
			min-height: 0;
			padding: 0 1.6rem;
		}

		// .menu-list__sub-menu
		&__sub-item {
			margin-bottom: 1rem;

			.menu-list__link {
				pointer-events: all !important;

				a {
					-webkit-tap-highlight-color: #00000041;
				}
			}
		}

		// .menu-list__link
		&__link {
			font-size: 1.6rem;

			position: relative;
			align-self: start;
			transition: all 0.4s ease-in-out;
			white-space: nowrap;

			span {
				font-weight: 400;
				opacity: 1;
			}

			&:hover {
				opacity: 1;
			}

			@extend .underline;
		}

		// .menu-list__sub-menu
		&__sub-menu {
			position: relative;
			display: grid;
			overflow: hidden;
			min-height: 0;
			margin: 0;
			transform: translateY(2rem) !important;
			box-shadow: none;

			.menu-list__list {
				background: transparent;
			}
		}
	}

	// .sidebar-menu__order
	&__order {
		position: relative;

		&::before {
			display: block;
			width: 100%;
			height: 2px;
			margin-bottom: 40px;
			content: '';
			opacity: 1;
			background: linear-gradient(to right, #ffffff69, #2b3769);
		}

		&::after {
			display: block;
			width: 100%;
			height: 2px;
			margin-top: 40px;
			content: '';
			opacity: 1;
			background: linear-gradient(to left, #ffffff69, #2b3769);
		}
	}

	// .sidebar-menu__project-button
	&__project-button {
		font-size: 24px;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: opacity 0.2s ease-in-out;
		opacity: 0;

		color: #fff;
	}

	// .sidebar-menu__button
	&__button {
		position: relative;
		overflow: hidden;
		width: 7.8rem;
		height: 7.8rem;
		cursor: pointer;
		border: 1px solid #ffffff3b;
		border-radius: 50%;
		background: $color;

		.icon-arrow-right {
			position: relative;
			z-index: 9;
			transition: all 0.7s ease-in-out;

			&::before {
				font-size: 24px;
				opacity: 0.6;
				color: #fff;
			}
		}

		&:before {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			transition: all 0.2s ease-in-out;
			background-color: #2b3769;
			clip-path: circle(var(--size) at var(--clip));
		}

		&:hover {
			.icon-arrow-right {
				z-index: 9;
				transform: rotate(-45deg);
			}

			&:before {
				--size: 100px;
			}
		}
	}

	// .sidebar-menu__row
	&__row {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-top: 30px;
		color: #fff;
		gap: 15px;

		@include screen-375 {
			align-items: flex-start;
			flex-direction: column-reverse;
			gap: 40px;
		}
	}

	// .sidebar-menu__slide
	&__slide {
		position: relative;
		z-index: 999;
		display: flex;
		height: 100%;
		background-position: center;
		background-size: cover;
		gap: 30px;
	}

	&._open-menu {
		transform: translateY(0px);

		.sidebar-menu__column {
			transition: opacity 0.2s ease-in-out 0.4s;
			opacity: 1;
		}

		.sidebar-menu__order {
			&::before {
				opacity: 1;
			}

			&::after {
				opacity: 1;
			}
		}

		.sidebar-menu__project-button {
			opacity: 1;
		}

		&::before {
			height: 200%;
			background-image: radial-gradient(
											at 51.219887531528066% 73.75802524063498%,
											hwb(228 17% 59%) 0%,
											hsla(228.38709677419354, 41.891891891891895%, 29.01960784313725%, 0) 100%
			),
			radial-gradient(
											at 82.3747128137153% 47.854555124063424%,
											hsla(192, 9.803921568627452%, 10%, 1) 0%,
											hsla(192, 9.803921568627452%, 10%, 0) 100%
			),
			radial-gradient(
											at 7.222668315528513% 65.99692412690541%,
											hsla(192, 9.803921568627452%, 10%, 1) 0%,
											hsla(192, 9.803921568627452%, 10%, 0) 100%
			),
			radial-gradient(
											at 28.247189370281145% 40.43717988749253%,
											hsla(192, 9.803921568627452%, 10%, 1) 0%,
											hsla(192, 9.803921568627452%, 10%, 0) 100%
			),
			radial-gradient(
											at 54.59975191052144% 0.011447407615872152%,
											hsla(228.38709677419354, 41.891891891891895%, 29.01960784313725%, 1) 0%,
											hsla(228.38709677419354, 41.891891891891895%, 29.01960784313725%, 0) 100%
			),
			radial-gradient(
											at 79.74105101791258% 72.89600397390794%,
											hsla(192, 9.803921568627452%, 10%, 1) 0%,
											hsla(192, 9.803921568627452%, 10%, 0) 100%
			),
			radial-gradient(
											at 27.353713288329608% 60.00042076869605%,
											hsla(192, 9.803921568627452%, 10%, 1) 0%,
											hsla(192, 9.803921568627452%, 10%, 0) 100%
			),
			radial-gradient(
											at 30.871687014459216% 51.91539250189692%,
											hsla(192, 9.803921568627452%, 10%, 1) 0%,
											hsla(192, 9.803921568627452%, 10%, 0) 100%
			),
			radial-gradient(
											at 15.415090896688245% 72.75274820343758%,
											hsla(228.38709677419354, 41.891891891891895%, 29.01960784313725%, 1) 0%,
											hsla(228.38709677419354, 41.891891891891895%, 29.01960784313725%, 0) 100%
			);
		}

		.menu-list__link {
			color: #fff;
		}

		.sidebar-menu__button {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&._close-menu {
		transition: height 0.1s ease-out 0s;

		.sidebar-menu__column {
			transition: opacity 0.4s ease-in-out 0.2s;
			opacity: 0;
		}

		.sidebar-menu__order {
			&::before {
				transition: opacity 0.2s ease-in-out 0.4s;
				opacity: 0;
			}

			&::after {
				transition: opacity 0.2s ease-in-out 0.4s;
				opacity: 0;
			}
		}

		.menu-list__link {
			color: #ffffff00;
		}

		&::before {
			height: 0;
		}
	}
}

.networks {
	width: 100%;
	// .networks__icon
	&__icon {
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 10px;

		span {
			font-size: 16px;
			font-weight: 400;

			margin-left: 20px;
			opacity: 0.9;
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}

		.icon-telegram-fly {
			background: #039be5;
		}

		.icon-whatsapp {
			background: #4caf50;
		}

		._icon {
			width: 5.3rem;
			height: 5.3rem;
			border-radius: 50%;

			&::before {
				font-size: 28px;
				font-weight: 600;
			}
		}

		.icon-vk-draw {
			color: #091216;
		}

		.icon-youtube {
			color: red;
		}

		.icon-dzen {
			color: #fff;
		}
	}
}

.contacts {
	font-size: 16px;
	font-weight: 600;
	display: flex;
	flex: 0 1 50%;
	flex-direction: column;
	justify-content: space-evenly;

	span {
		font-size: 18px;
		display: block;
		text-transform: uppercase;
	}

	&__phone {
		display: flex;
		flex-direction: column;
		justify-content: end;
		margin-bottom: 20px;

		span {
			font-size: 14px;
			font-weight: 900;
			width: 111px;
			margin-bottom: 10px;
			text-align-last: left;
			color: #8d8d8d;
		}

		a {
			font-size: 15px;
			font-weight: 400;
			white-space: nowrap;
			opacity: 0.9;

			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}

	&__mail {
		margin-bottom: 10px;
		text-align: start;

		span {
			font-size: 14px;
			font-weight: 700;
			margin-bottom: 10px;
			text-align-last: left;
			color: #8d8d8d;
		}

		a {
			font-size: 15px;
			font-weight: 400;
			opacity: 0.9;
		}
	}
}
