$icon-font-family: 'icon-set' !default;
$icon-font-path: '../fonts' !default;

$icon-minus: unquote('"\\e908"');
$icon-plus: unquote('"\\e911"');
$icon-coolicon: unquote('"\\e903"');
$icon-vk-draw: unquote('"\\e900"');
$icon-telegram-draw: unquote('"\\e901"');
$icon-whatsapp-draw: unquote('"\\e902"');
$icon-volume-phone: unquote('"\\f2a0"');
$icon-angle-left: unquote('"\\f104"');
$icon-angle-right: unquote('"\\f105"');
$icon-whatsapp: unquote('"\\f232"');
$icon-vk-brand: unquote('"\\f189"');
$icon-telegram-fly: unquote('"\\e91b"');
$icon-arrow-dow: unquote('"\\e92c"');
$icon-arrow-up: unquote('"\\e95c"');
$icon-arrow-left: unquote('"\\e92d"');
$icon-arrow-right: unquote('"\\e950"');
