@use 'sass:string'; // Импортируем модуль string

$icon-font-family: 'icon-set' !default;
$icon-font-path: '../fonts' !default;

$icon-youtube-lg: string.unquote('"\\ea9d"');
$icon-youtube-square: string.unquote('"\\f166"');
$icon-youtube: string.unquote('"\\f167"');
$icon-group: string.unquote('"\\e904"');
$icon-coolicon: string.unquote('"\\e903"');
$icon-vk-draw: string.unquote('"\\e900"');
$icon-telegram-draw: string.unquote('"\\e901"');
$icon-whatsapp-draw: string.unquote('"\\e902"');
$icon-volume-phone: string.unquote('"\\f2a0"');
$icon-angle-up: string.unquote('"\\f106"');
$icon-angle-down: string.unquote('"\\f107"');
$icon-angle-left: string.unquote('"\\f104"');
$icon-angle-right: string.unquote('"\\f105"');
$icon-whatsapp: string.unquote('"\\f232"');
$icon-vk-brand: string.unquote('"\\f189"');
$icon-telegram-fly: string.unquote('"\\e91b"');
$icon-dzen: string.unquote('"\\e93b"');
$icon-minus: string.unquote('"\\e908"');
$icon-plus: string.unquote('"\\e911"');
$icon-arrow-down: string.unquote('"\\e92c"');
$icon-arrow-up: string.unquote('"\\e95c"');
$icon-arrow-left: string.unquote('"\\e92d"');
$icon-arrow-right: string.unquote('"\\e950"');
