// todo -------------------------- Variables -----------------------------------
@import 'core/variables';
@import 'core/variables-icon';
// @import 'core/swiper-vars';
//todo ----------------------------- Core --------------------------------------
@import 'core/mixins';
@import 'core/extend';
@import 'core/reset';
// @import 'core/ui';
// todo -------------------------- Modules -------------------------------------
@import 'modules/preloader';
//todo ------------------------- Default fonts ---------------------------------
// &display=swap&subset=cyrillic-ext
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800,900&display=swap&subset=cyrillic-ext');
// todo --------------------------- Fonts --------------------------------------
@import 'core/fonts';
//todo  ------------------------ Icon Fonts ------------------------------------
@import 'core/iconfonts';
// todo -------------------------- Plugins -------------------------------------
@import 'assets/swiper';
@import 'assets/swiper-bundle.scss';
@import 'layouts/slider-layout';
// todo -------------------------- Classes -------------------------------------
// #region
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 0 auto;
}

[class*='_container'] {
	max-width: $maxWidthContainer;
	box-sizing: content-box;
	margin: 0 auto;
	height: 100%;
}

[class*='icon-'] {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateX(0.5px);
}

[class*='icon-arrow-'] {
	&::before {
		font-size: 2rem;

		@include _screen-690 {
			font-size: 1.8rem;
		}
	}
}
@keyframes shake {
	10%,
	90% {
		transform: translateX(-0.5px);
	}
	20%,
	80% {
		transform: translateX(1px);
	}
	30%,
	50%,
	70% {
		transform: translateX(-2px);
	}
	40%,
	60% {
		transform: translateX(2px);
	}
}
// todo --------------------------- Pages --------------------------------------
@import 'pages/page';
// todo --------------------------- layout -------------------------------------
@import 'layouts/bem-block';
@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/sidebar-menu';
// todo -------------------------- Sections ------------------------------------
@import 'components/order-place';
@import 'components/services-price';
@import 'components/schedule';
@import 'components/seo-block';
@import 'components/answers';
