// todo -------------------------- Variables -----------------------------------
@import 'core/variables';
@import 'core/variables-icon';
// @import 'core/swiper-vars';
//todo ----------------------------- Core --------------------------------------
@import 'core/mixins';
@import 'core/extend';
@import 'core/reset';
// @import 'core/ui';
// todo -------------------------- Modules -------------------------------------
@import 'modules/pl-preloader';
//todo ------------------------- Default fonts ---------------------------------
// todo --------------------------- Fonts --------------------------------------
@import 'core/fonts';
//todo  ------------------------ Icon Fonts ------------------------------------
@import 'core/iconfonts';
// todo -------------------------- Plugins -------------------------------------
@import 'assets/swiper';
@import 'assets/swiper-bundle.scss';
@import 'layouts/slider-layout';
// todo -------------------------- Classes -------------------------------------
// #region
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	// min-height: 100%;
	margin: 0 auto;
}

[class*='_container'] {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	height: 100%;
	box-sizing: content-box;
}

[class*='icon-'] {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateX(0.5px);
}

[class*='icon-arrow-'] {
	&::before {
		font-size: 2.4rem;

		@include _1440-1920 {
			font-size: calc(15px + (24 - 15) * ((100vw - 1440px) / (1920 - 1440)));
		}

		@include _screen-960 {
			font-size: 2.2rem;
		}

		@include _screen-490 {
			font-size: 1.8rem;
		}

		@include _screen-375 {
			font-size: 1.6rem;
		}
	}
}
// -----------------------------------------------------------------------------
@keyframes shaking {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(5px);
	}
	50% {
		transform: translateY(-5px);
	}
	75% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(0);
	}
}
// -----------------------------------------------------------------------------
@keyframes shake {
	10%,
	90% {
		transform: translateX(-0.5px);
	}
	20%,
	80% {
		transform: translateX(1px);
	}
	30%,
	50%,
	70% {
		transform: translateX(-2px);
	}
	40%,
	60% {
		transform: translateX(2px);
	}
}
// todo --------------------------- Pages --------------------------------------
@import 'pages/page';
// todo --------------------------- layout -------------------------------------
@import 'layouts/bem-block';
@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/sidebar-menu';
// todo -------------------------- Sections ------------------------------------
@import 'components/services-price';
@import 'components/schedule';
@import 'components/seo-block';
@import 'components/answers';
@import 'components/order-form';
