.preloader
  .preloader__sphere
  span.preloader__sphere-shadow
  .preloader__sphere
  span.preloader__sphere-shadow
  .preloader__sphere
  span.preloader__sphere-shadow
  .preloader__sphere
  span.preloader__sphere-shadow