extends ../layouts/app_layout
append link 
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/index.min.css")
prepend script 
	script(type="text/javascript" src="@@webRoot/js/index.min.js" defer)
block title
	- var text='Sadovskiy-design' 

block main-content 
	block services
		include ../components/services 
	block project 
		include ../components/project 
	block about-company 
		include ../components/about-company 
	block schedule
		include ../components/schedule
	block services-price
		include ../components/services-price
	block order-place
		include ../components/order-place
	block seo-block
		include ../components/seo-block
	block company-team
		include ../components/company-team
	block answers
		include ../components/answers
	block clients
		include ../components/brands
	block order-place
		include ../components/order-place



	block footer
		include ../layouts/footer