extends ../layouts/app_layout
append link 
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/index.min.css")
prepend script 
	script(type="text/javascript" src="@@webRoot/js/index.min.js" defer)
block title
	- var text='Sadovskiy-design' 


block header 
	header.page__header-main
		include ../layouts/header 
block main-content 
	block services
		section.page__services 
			include ../components/services 
	block project 
		section.page__project#project 
			include ../components/project 
	block about-company 
		section.page__about-company#about
			include ../components/about-company 
	block schedule
		section.page__schedule
			include ../components/schedule
	block services-price
		section.page__services-price#service
			include ../components/services-price
	block order-place
		section.page__order-place
			include ../components/order-place
	block seo-block
		section.page__seo-block 
			include ../components/seo-block
	block company-team
		section.page__company-team
			include ../components/company-team
	block answers
		section.page__answers
			include ../components/answers
	block brands
		section.page__brands
			include ../components/brands
	block order-place
		section.page__order-place
			include ../components/order-place
