extends ../layouts/app_layout
append link 
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/project-page.min.css")
prepend script 
	script(defer type="text/javascript" src="@@webRoot/js/project-page.min.js")
block title
	- var text='Sadovskiy-design/Project' 


block header 
	header.page__header-project
		include ../layouts/header 
block main-content  
	block perform 
		section.page__performance 
			include ../components/performance
	block project-page 
		section.page__project.mlrp-b0101#project
			include ../components/project-page-section
	block dev-info
		section.page__dev-info
			include ../components/dev-info 
	block info-block
		section.page__info-block#about
			include ../components/info-block 
	block request-audit
		section.page__request-audit
			include ../components/request-audit
	block schedule
		section.page__schedule
			include ../components/development 
	block project-services-price
		section.page__services-price.mlrp-b0101#service
			include ../components/project-services-price 
	block seo-block
		section.page__seo-block 
			include ../components/seo-block
	block order-place
		section.page__order-place.mlrp-b0101 
			include ../components/order-place
	block answers-project
		section.page__answers
			include ../components/answers-project

