@use '../core/variables' as *;
@use '../core/mixins' as *;
@use '../core/extend' as *;

.page {
  width: 100vw;

  // .page__content
  &__content {
    padding-top: 2rem;
  }

  // .page__header
  &__header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    height: 8.8rem;
    display: flex;
    align-items: center;
    background: #fff;
    transition: box-shadow 0.9s ease-in-out;

    &.with-shadow {
      box-shadow: 0 2px 9px #6c8fac;
      background: #fff;
    }

    @include screen-768 {
      padding: 5px 0;
    }

    .header__image {
      background: url('../img/icons/logo-b.png') center no-repeat;
    }

    .menu-list__link {
      &:hover {
        color: #000;
      }

      @extend .underline;
    }

    .header__title {
      transition: opacity 0.4s ease-in-out;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  // .page__header-project
  &__header-project {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    height: 8.8rem;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;

    .header__body {
      color: #fff;
    }

    .burger-button__items span {
      background: #fff;
    }

    &.with-shadow {
      box-shadow: 0 2px 9px #6c8fac;
      background: #fff;
      color: #000;

      .icon-volume-phone {
        &::before {
          color: #000;
        }
      }

      .burger-button__items span {
        background: #000;
      }

      .header__body {
        color: #000;
      }

      .header__image {
        background: url('../img/icons/logo-b.png') center no-repeat;
      }

      .menu-list__sub-menu {
        color: #fff;

        ul {
          background: #fff;
          color: #000;
        }
      }

      .menu-list__item {
        color: #000;
      }

      .menu-list__link {
        @extend .underline;

        &:hover {
          color: #000;
        }
      }
    }

    @include screen-768 {
      padding: 5px 0;
    }

    .header__image {
      background: url('../img/icons/logo-w.png') center no-repeat;
    }

    .menu-list__sub-menu {
      color: #fff;

      ul {
        background: $color;
      }
    }

    .menu-list__link {
      @extend .underline-w;

      &:hover {
        color: #fff;
      }
    }

    .header__title {
      transition: opacity 0.4s ease-in-out;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  //* - [ Home page ] -

  // .page__services
  &__services {
    position: relative;
    z-index: 9;
    display: flow-root;
  }

  // .page__project
  &__project {
    position: relative;
  }

  // .page__about-company
  &__about-company {
    scroll-margin-top: 100px;

    @include screen-768 {
      scroll-margin-top: 60px;
    }
  }

  // .page__schedule
  &__schedule {
    overflow: hidden;
  }

  // .page__services-price
  &__services-price {
    scroll-margin-top: 100px;

    @include screen-768 {
      scroll-margin-top: 60px;
    }
  }

  // .page__order-place
  &__order-place {
    position: relative;
  }

  // .page__seo-block
  &__seo-block {
    background: url('../img/main/s-bg.png') center / cover repeat;
  }

  // .page__company-team
  &__company-team {
    position: relative;
  }

  // .page__answers
  &__answers {
    position: relative;
  }

  // .page__brands
  &__brands {
    height: 100%;
  }

  //* - [ Project] -

  // page__performance
  &__performance {
    margin-top: -2rem;
  }

  //page__dev-info
  &__dev-info {
    position: relative;
  }

  // .page__info-block
  &__info-block {
    position: relative;
  }

  //* - [ Portfolio ] -

  // .page__portfolio-section
  &__portfolio-section {
    position: relative;
  }

  // .page__order-portfolio
  &__order-portfolio {
    background: url('../img/main/fon.png') center / cover no-repeat;

    .order-place__content {
      background: none !important;
    }
  }

  // .page__page-unknown
  .bg-image {
    background: url('../img/portfolio/project-smt/fon.png') center / cover
      no-repeat;
  }

  // .page__design-concept
  &__design-concept {
    background: rgb(2, 2, 2);
  }

  // .page__request-audit
  &__request-audit {
    padding: 0 13rem;

    @include screen-690 {
      padding: 0 60px;
    }
  }
}
