.page {
	// .page__header
	&__header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 11;

		padding: 20px 0;
		background: #fff;

		@include _screen-1710 {
			margin-bottom: 2rem;
		}
	}

	// .page__content
	&__content {
		width: 100%;
		position: relative;
		margin-top: 80px;
	}

	// .page__container
	&__container {
		position: relative;
	}

	// .page__services
	&__services {
		position: relative;
		z-index: 9;
		padding-top: 30px;
		background: #fff;
		display: flow-root;
		margin-bottom: 130px;

		@include _screen-960 {
			margin-bottom: 80px;
		}
	}

	// .page__about-company
	&__about-company {
	}

	// .page__schedule
	&__schedule {
	}

	// .page__services-price
	&__services-price {
	}

	// .page__seo-block
	&__seo-block {
	}

	// .page__company-team
	&__company-team {
	}

	// .page__clients
	&__clients {
	}

	// .page__answers
	&__answers {
	}

	// .page__order-place
	&__order-place {
	}
}
