extends ../../layouts/app_layout
append link  
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/portfolio-project.min.css")
block title
	- var text='Sadovskiy-design' 

block header 
	header.page__header-main
		include ../../layouts/header-portfolio
block main-content
	block portfolio-performance
		section.page__portfolio-performance
			include ../../components/portfolio-performance
	block portfolio-about
		section.page__portfolio-about
			include ../../components/portfolio-about
	block portfolio-section
		section.page__portfolio-section.mlrp-b0101 
			include ../../components/portfolio-structure
	block portfolio-section
		section.page__portfolio-section
			include ../../components/portfolio-concept
	block portfolio-section
		section.page__portfolio-section.mlrp-b0101 
			include ../../components/portfolio-catalog
	block portfolio-section
		section.page__portfolio-section.mlrp-b0101 
			include ../../components/portfolio-card
	block portfolio-section
		section.page__portfolio-section
			include ../../components/portfolio-separator
	block portfolio-section
		section.page__portfolio-section.mlrp-b0101
			include ../../components/portfolio-registration
	block portfolio-section
		section.page__portfolio-section.mlrp-b0101
			include ../../components/portfolio-services
	block portfolio-section
		section.page__portfolio-section.mlrp-b0101 
			include ../../components/portfolio-news


	block unknown-page
		section.page__page-unknown
			include ../../components/unknown-page
	block order-place
		section.page__order-portfolio.mlrp-b0101#order
			include ../../components/order-place
