.about-company {
	// .about-company__body
	&__body {
		padding: 13rem 50px 16.3rem;
		overflow: hidden;

		@include _screen-1440 {
			padding: 13rem 20px 16.3rem;
		}

		@include _screen-690 {
			padding: 50px 10px;
		}
	}

	// .about-company__title
	&__title {
		max-width: 843px;
		margin: 0 auto 69px;

		h2 {
			line-height: 100%;
			letter-spacing: 0%;
			text-align: left;
			font-size: 65px;
			font-weight: 400;
			@include _320-1920 {
				font-size: calc(24px + (65 - 24) * ((100vw - 320px) / (1920 - 320)));
			}

			@include _screen-320 {
				font-size: 24px;
			}

			@include _screen-690 {
				text-align: center;
			}
		}

		@include _screen-690 {
			margin-bottom: 40px;
		}
	}

	// .about-company__content
	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		max-width: 1273px;
		margin: 0 auto;
		flex-direction: column;

		display: flex;
	}

	// .about-company__row
	&__row {
		flex: 1 2 50%;
		display: flex;
		gap: 10px;
		padding: 20px 0 5rem;
		&:first-child {
			border-top: 1px solid rgb(169, 169, 169);
		}

		&:last-child {
			padding-bottom: 0;
		}

		@include _screen-690 {
			flex-direction: column;
		}

		h3 {
			font-size: 35px;
			font-weight: 400;
			line-height: 122.857143%; /* 43px/35 */

			@include _320-1920 {
				font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1920 - 320)));
			}

			@include _screen-690 {
				margin-bottom: 10px;
			}

			@include _screen-320 {
				font-size: 20px;
			}
		}

		p {
			font-size: 16px;
			font-weight: 400;
			line-height: 125%; /* 20px/16 */

			@include _320-1920 {
				font-size: calc(11px + (35 - 11) * ((100vw - 320px) / (1920 - 320)));
			}

			@include _screen-320 {
				font-size: 11px;
			}
		}

		&:not(:last-child) {
			border-bottom: 1px solid rgb(169, 169, 169);
		}
	}

	// .about-company__item
	&__item {
		flex: 0 1 50%;
	}

	// .about-company__text
	&__text {
		color: rgb(0, 0, 0);
		font-family: Averta Demo PE Cutted Demo;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0%;
		text-align: left;
	}
}
