.answers {
	// .answers__title
	&__title {
		padding-bottom: 70px;
		color: rgb(7, 7, 7);
		text-align: center;
		border-bottom: 1px solid #a9a9a9;

		@include _screen-690 {
			padding-bottom: 24px;
		}

		@include _screen-320 {
			font-size: 24px;
		}
	}

	// .answers__content
	&__content {
		border-bottom: 1px solid rgb(169, 169, 169);
		&._open {
			._icon {
				transform: rotate(-405deg);
			}
		}
	}

	// .answers__question
	&__question {
		padding: 20px 0 20px;
		user-select: none;
		cursor: pointer;
		display: flex;
		gap: 8px;
		align-items: center;
		justify-content: space-between;

		._icon {
			font-size: 20px;
			transition: transform 0.4s ease-in-out;
			color: #2b3769;

			&::before {
				font-weight: 700;
			}
		}
	}

	// .answers__icon
	&__icon {
		display: flex;
		align-items: center;
	}

	// .answers__text
	&__text {
		pointer-events: none;
		font-size: 30px;
		font-weight: 400;
		line-height: 123.333333%; /* 37px/30 */

		span {
			white-space: nowrap;
		}

		@include _320-1920 {
			font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
		}

		@include _screen-320 {
			font-size: 15px;
		}
	}

	// .answers__wrapper
	&__wrapper {
		min-height: 0;
	}

	// .answers__answer
	&__answer {
		padding: 5px 0 40px;
		min-height: 0;
	}
}
