.brands {
	// .brands__body
	&__body {
		padding: 12rem 50px;
		height: 100%;
		@include _screen-768 {
			padding: 6rem 10px;
		}
	}

	// .brands__title
	&__title {
		margin-bottom: 20px;
		font-size: 65px;
		font-weight: 400;
		line-height: 100%;
		text-align: center;

		@include _320-1920 {
			font-size: calc(20px + (70 - 20) * ((100vw - 320px) / (1920 - 320)));
		}

		@include _screen-320 {
			font-size: 20px;
		}
	}
}

.brand-slide {
	// .brand-slide__body
	&__body {
		overflow: hidden;
	}

	// .brand-slide__slide
	&__slide {
		user-select: none;
		padding: 25px 0;
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			cursor: grab;
		}

		img {
			object-fit: cover;
			filter: grayscale(1);
			transition: filter 0.4s ease-in-out;
		}

		&:hover {
			img {
				filter: grayscale(0);
			}
		}
	}

	// .brand-slide__image
	&__image {
		width: 100%;
	}
}
