.clients {
	// .clients__body

	&__body {
		padding: 6rem 50px;

		@include _screen-768 {
			padding: 70px 10px;
		}
	}

	// .clients__title

	&__title {
		margin-bottom: 20px;
		font-size: 65px;
		font-weight: 400;
		line-height: 100%;
		text-align: center;

		@include _320-1920 {
			font-size: calc(28px + (70 - 28) * ((100vw - 320px) / (1920 - 320)));
		}

		@include _screen-320 {
			font-size: 28px;
		}
	}

	// .clients__brand
	&__brand {
	}
}

.brand-slide {
	// .brand-slide__body

	&__body {
	}

	// .brand-slide__slide

	&__slide {
	}

	// .brand-slide__image

	&__image {
		width: 100%;
	}
}
