.dev-info {
	overflow: hidden;
	position: relative;
	background: #000;

	// .dev-info__header
	&__header {
		width: 100%;
	}

	&__images {
		position: absolute;
		z-index: 3;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	&__img-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		transform: translateX(20px);
	}

	// .dev-info__title
	&__title {
		max-width: 920px;
		color: #fff;
		position: relative;
		z-index: 2;

		@include _screen-1440 {
			margin-bottom: 25px;
		}

		@include _screen-690 {
			text-align: center;
		}
	}

	// .dev-info__content
	&__content {
		position: relative;
		z-index: 2;
		padding: 13rem 50px 16.2rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 40px;

		@include _screen-1440 {
			padding: 13rem 30px 16.2rem;
		}

		@include _screen-1440 {
			padding: 60px 30px;
		}

		@include _screen-375 {
			padding: 60px 10px;
		}
	}

	// .dev-info__column
	&__column {
		overflow: visible;
		position: relative;
		z-index: 2;

		&:nth-child(1) {
			grid-column: 1/3;
		}

		&:nth-child(2) {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			z-index: 0;
		}

		&:nth-child(3) {
			padding-top: 65px;
		}

		&:nth-child(4) {
			grid-column: 1/3;
		}

		@include _screen-960 {
			&:nth-child(2) {
				grid-column: 1/3;
				grid-row: 2/3;
				position: relative;
				z-index: 1;
				opacity: 0.1;
			}

			&:nth-child(3) {
				grid-column: 1/3;
				grid-row: 2/3;
				position: relative;
				z-index: 2;
			}
		}
	}

	// .dev-info__image-bg
	&__image {
		overflow: visible;
		z-index: 1;
		width: 100%;
		height: 100%;

		max-width: 900.52px;
		background: url('../img/performance/macbook.png') center / contain no-repeat;
	}

	// .dev-info__image
	&__image-bg {
		overflow: visible;
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../img/performance/ellipse-01.png') right / 105% no-repeat;
		transform: translate(0, 20px);
		opacity: 0.5;
	}

	// .dev-info__footer
	&__footer {
		display: flex;
		gap: 40px;

		@include _screen-960 {
			gap: 20px;
		}

		@include _screen-690 {
			flex-direction: column;
			gap: 5px;
		}
	}
}

.info-dev {
	// .info-dev__row
	&__row {
		border-top: 1px solid rgba(169, 169, 169, 0.411);
		padding: 20px 0 83px;

		p {
			line-height: 122.857143%; /* 43px/35 */
			color: #fff;
		}

		@include _320-1920 {
			padding-bottom: calc(20px + (83 - 20) * ((100vw - 320px) / (1920 - 320)));
		}

		@include _screen-320 {
			padding: 10px 0 20px;
		}
	}
}

.footer-dev {
	border-top: 1px solid #a9a9a969;

	// .footer-dev__column
	&__column {
		padding-top: 29px;
		flex: 0 1 50%;

		@include _screen-690 {
			padding-top: 13px;

			&:not(:first-child) {
				padding-top: 0;
			}
		}

		p {
			color: #fff;
			line-height: 125%; /* 20px/16 */
		}
	}
}

.elipsis-cont {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;

	&__elipse-15 {
		position: absolute;
		width: 510px;
		height: 510px;
		right: -170px;
		top: -60px;
		opacity: 0.5;
		background: url('../img/performance/ellipse-02.png') center / contain
			no-repeat;
		@include _320-1920 {
			right: calc(-30px + (-170 - (-30)) * ((100vw - 320px) / (1920 - 320)));
			top: calc(-10px + (-170 - (-10)) * ((100vw - 320px) / (1920 - 320)));
			width: calc(100px + (510 - (-100)) * ((100vw - 320px) / (1920 - 320)));
			height: calc(100px + (510 - (-100)) * ((100vw - 320px) / (1920 - 320)));
		}

		@include _screen-320 {
			right: -30px;
			top: -10px;
			width: 100px;
			height: 100px;
		}
	}

	&__elipse-16 {
		position: absolute;
		width: 1920px;
		height: 1400px;
		border-radius: 50%;
		top: 0;
		right: -50%;

		filter: blur(304.58px);
		background: rgba(43, 55, 105, 0.575);
	}

	&__elipse-17 {
		position: absolute;
		width: 619px;
		height: 619px;

		right: -500px;
		bottom: -10%;
		border-radius: 50%;
		filter: blur(100.53px);
		background: #acbabd46;

		@include _320-1920 {
			right: calc(-500px + (-500 - (-500)) * ((100vw - 320px) / (1920 - 320)));
		}

		@include _screen-320 {
			right: -500px;
		}
	}

	&__elipse-18 {
		position: absolute;
		width: 619px;
		height: 619px;
		left: -5%;
		bottom: -10%;
		border-radius: 50%;
		filter: blur(284.58px);
		background: rgb(43, 55, 105);
	}
}
