.page {
	// .page__order-place
	&__order-place {
		padding: 0 50px;
		@include _screen-1440 {
			padding: 0 20px;
		}

		@include _screen-690 {
			padding: 0 10px;
		}
	}
}

.order-place {
	// .order-place__body

	// .order-place__row
	&__row {
		position: relative;
		z-index: 9;
	}

	// .order-place__body
	&__body {
		display: grid;
		grid-template-columns: 1fr;
		position: relative;
		border-radius: 30px;
		padding: 13rem 0 16.9rem;
		background: #171b1c;
		overflow: hidden;

		@include _screen-690 {
			border-radius: 10px;
			padding: 50px 25px;
		}
		@include _screen-375 {
			padding: 50px 15px;
		}
	}

	// .order-place__header

	&__header {
		margin: 0 auto;
		max-width: 1013px;
	}

	// .order-place__title
	&__title {
		margin: 0 auto 40px;
		color: rgb(255, 255, 255);

		max-width: 800px;

		h2 {
			font-size: 65px;
			font-weight: 400;
			line-height: 100%;
			text-align: center;

			@include _320-1920 {
				font-size: calc(28px + (65 - 28) * ((100vw - 320px) / (1920 - 320)));
			}

			@include _screen-320 {
				font-size: 28px;
			}
		}
	}

	// .order-place__text
	&__text {
		color: rgb(255, 255, 255);
		text-align: center;
		p {
			font-size: 20px;
			font-weight: 400;
			line-height: 125%; /* 25px/20 */
			@include _320-1920 {
				font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320)));
			}

			@include _screen-320 {
				font-size: 12px;
			}
		}
	}

	// .order-place__form
	&__form {
		display: flex;
		justify-content: space-between;
		gap: 25px;
		margin: 40px auto;
		max-width: 892px;
		display: flex;
		@include _screen-960 {
			flex-direction: column;
		}
	}

	// .order-place__footer
	&__footer {
		margin: 0 auto;
		max-width: 780px;

		.order-place__text {
			margin-bottom: 17px;
		}
	}

	// .order-place__phone
	&__phone {
		color: rgb(255, 255, 255);
		font-size: 40px;
		font-weight: 400;
		line-height: 100%;
		text-align: center;

		@include _320-1920 {
			font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
		}

		@include _screen-320 {
			font-size: 20px;
		}
	}
}

.order-form {
	// .order-form__column
	&__column {
		box-sizing: border-box;
		border-radius: 30px;
		overflow: hidden;
		align-self: center;

		@include _screen-960 {
			max-width: 268px;
			width: 100%;
		}

		@include _screen-490 {
			max-width: 238px;
			width: 100%;
		}

		&:not(:last-child) {
			border: 1px solid #ffffff;
			flex: 1 1 auto;
		}

		&:last-child {
			align-self: center;

			@include _screen-960 {
				width: 268px;
			}
			@include _screen-375 {
				width: 100%;
			}
		}
	}

	// .order-form__line
	&__line {
		height: 100%;
		width: 100%;
	}

	// .order-form__input
	&__input {
		height: 5.6rem;

		input {
			padding: 0 30px;
			height: 56px;
			color: #fff;
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			display: block;
			font-size: 16px;
		}
	}

	// .order-form__button
	&__button {
		// height: 56px;
		background: #fff;
		border: 1px solid transparent;

		&:hover {
			border: 1px solid #fff;
			.icon {
				transform: rotate(-45deg);
			}

			span {
				color: #fff;
			}

			&::before {
				background: $color;
			}
		}

		.icon {
			// width: 48px;
		}

		.icon-arrow-right {
			color: #fff;
			font-size: 16px;

			&::before {
				font-weight: 500;
			}
		}
	}
}

.elipsis-cont {
	pointer-events: none;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;

	&__elipse-06 {
		justify-self: end;
		position: absolute;
		width: 1258.47px;
		height: 1258.47px;
		border-radius: 50%;
		top: 70%;

		filter: blur(351.53px);
		background: rgb(43, 55, 105);
	}

	&__elipse-07 {
		position: absolute;
		width: 2304.27px;
		height: 2304.27px;
		border-radius: 50%;
		transform: rotate(-30deg);
		top: 0;
		right: -50%;

		filter: blur(351.53px);
		background: rgb(43, 55, 105);
	}

	&__elipse-08 {
		position: absolute;
		width: 700.44px;
		height: 700.44px;
		border-radius: 50%;
		top: 85%;
		filter: blur(100.53px);
		background: rgba(172, 186, 189, 0.4);
	}

	&__elipse-09 {
		position: absolute;
		width: 700.44px;
		height: 700.44px;
		border-radius: 50%;
		transform: rotate(-45deg);
		top: 75%;
		right: -20%;
		filter: blur(100.53px);
		background: rgba(172, 186, 189, 0.4);
	}
}
