.order-place {
	// .order-place__content
	&__content {
		position: relative;
		padding: 13rem 50px 16.2rem;
		overflow: hidden;
		border-radius: 30px;

		@include _screen-1440 {
			padding: 13rem 30px;
		}

		@include _screen-690 {
			border-radius: 15px;
			padding: 50px 30px;
		}

		@include _screen-490 {
			padding: 50px 10px;
		}
	}

	// .order-place__content--bd-orderform
	&__content--order-page {
		background: #171b1c;
	}

	// .order-place__content--audit-page
	&__content--audit-page {
		background: url('../img/fon.png') center / cover no-repeat;
	}

	//.order-place__header--tcl-order-page
	&__header--tcl-order-page {
		max-width: 1013px;
		color: #fff;
	}

	//.order-place__header--tcl-audit-page
	&__header--tcl-audit-page {
		max-width: 1171px;
		color: #000;
	}

	//.order-place__footer--tcl-order-page
	&__footer--tcl-order-page {
		color: #fff;
	}

	//.order-place__form--tcl-order-page
	&__form--tcl-order-page {
		color: #fff;
	}

	// .order-place__body
	&__body {
		position: relative;
		z-index: 9;
		display: grid;
		grid-template-columns: 1fr;
		position: relative;
	}

	// .order-place__header
	&__header {
		margin: 0 auto;
	}

	// .order-place__title
	&__title {
		margin: 0 auto 40px;
		text-align: center;

		@include _screen-490 {
			margin-bottom: 20px;
		}
	}

	// .audit__text
	&__text {
		text-align: center;
		line-height: 125%; /* 25px/20 */
		max-width: 720px;
		margin: 0 auto 16px;

		@include _screen-490 {
			margin: 0 auto 20px;
		}
	}

	// .audit__form
	&__form {
		display: flex;
		justify-content: space-between;
		gap: 25px;
		margin: 40px auto;
		max-width: 892px;
		display: flex;

		@include _screen-960 {
			.order-form__button {
				width: 100%;
			}
		}

		@include _screen-960 {
			flex-direction: column;
		}

		@include _screen-490 {
			gap: 12px;
			margin: 0 auto 16px;
		}
	}

	// .audit__footer
	&__footer {
		margin: 0 auto;
		max-width: 780px;

		.request-audit__text {
			margin-bottom: 17px;
		}
	}

	// .audit__phone
	&__phone {
		padding-top: 5px;
		font-size: 40px;
		font-weight: 400;
		line-height: 100%;
		text-align: center;

		@include _320-1920 {
			font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
		}

		@include _screen-320 {
			font-size: 20px;
		}
	}
}

.order-form {
	// .order-form__column
	&__column {
		box-sizing: border-box;
		border-radius: 30px;
		overflow: hidden;
		align-self: center;

		&._brd-order {
			&:not(:last-child) {
				border: 1px solid #ffffff;
			}

			input {
				color: #fff;
			}

			.icon-arrow-right {
				color: #fff;
				font-size: 16px;

				&::before {
					font-weight: 500;
				}
			}

			.order-form__button {
				background: #fff;
				&:hover {
					border: 1px solid #fff;
					.icon {
						transform: rotate(-45deg);
					}

					span {
						color: #fff;
					}

					&::before {
						background: $color;
					}
				}
			}
		}

		&._brd-audit {
			&:not(:last-child) {
				border: 1px solid #00000033;
			}

			input {
				color: #2c2c2c;
			}

			.order-form__button {
				background: $color;
				border: 1px solid $color;

				.icon-arrow-right {
					color: $color;
					font-size: 16px;

					&::before {
						font-weight: 500;
					}
				}

				.icon {
					background: #fff;
				}

				span {
					color: #fff;
				}

				&:hover {
					border: 1px solid rgb(209, 209, 209);

					.icon {
						transform: rotate(-45deg);
						background: $color;
					}

					.icon-arrow-right {
						&::before {
							color: #fff;
							// font-weight: 500;
						}
					}

					span {
						color: #000;
					}

					&::before {
						background: #fff;
					}
				}
			}
		}

		@include _screen-960 {
			max-width: 268px;
			width: 100%;
		}

		@include _screen-490 {
			max-width: 195px;
			max-height: 38px;
			width: 100%;
		}

		&:not(:last-child) {
			flex: 1 1 auto;
		}

		&:last-child {
			align-self: center;

			@include _screen-960 {
				width: 268px;
			}
			@include _screen-375 {
				width: 100%;
			}
		}
	}

	// .order-form__line
	&__line {
		height: 100%;
		width: 100%;
	}

	// .order-form__input
	&__input {
		display: flex;
		align-items: center;
		height: 5.8rem;

		input {
			padding: 8px 3rem 10px;
			display: flex;
			align-items: center;
			color: #fff;
			width: 100%;
			height: 100%;
			line-height: 170%;
			font-size: 16px;

			@include _screen-490 {
				padding: 5px 2rem 12px;
			}
		}

		@include _screen-490 {
			height: 38px;
		}
	}

	// .order-form__button
	&__button {
		// transition: all 0.4s ease-in-out;
		// border: 1px solid transparent;
	}
}

.elipsis-cont {
	pointer-events: none;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;

	&__elipse-06 {
		justify-self: end;
		position: absolute;
		width: 1258.47px;
		height: 1258.47px;
		border-radius: 50%;
		top: 70%;

		filter: blur(351.53px);
		background: #2b3769;
	}

	&__elipse-07 {
		position: absolute;
		width: 2304.27px;
		height: 2304.27px;
		border-radius: 50%;
		transform: rotate(-30deg);
		top: 0;
		right: -50%;

		filter: blur(351.53px);
		background: #2b3769;
	}

	&__elipse-08 {
		position: absolute;
		width: 700.44px;
		height: 700.44px;
		border-radius: 50%;
		top: 85%;
		filter: blur(100.53px);
		background: #acbabd66;
	}

	&__elipse-09 {
		position: absolute;
		width: 700.44px;
		height: 700.44px;
		border-radius: 50%;
		transform: rotate(-45deg);
		top: 75%;
		right: -20%;
		filter: blur(100.53px);
		background: #acbabd66;
	}
}
