.portfolio-news {
	// .order-registration__body
	&__body {
		@include _min-1920 {
			padding-top: 130px;
			padding-bottom: 130px;
		}

		@include _320-1920 {
			padding-top: calc(50px + (130 - 60) * ((100vw - 320px) / (1920 - 320)));
			padding-bottom: calc(
				60px + (130 - 50) * ((100vw - 320px) / (1920 - 320))
			);
		}

		@include _screen-320 {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}

	// .order-registration__line
	&__line {
		display: grid;
		gap: 3rem;
		color: #000;
		margin-bottom: 70px;

		@include _320-1920 {
			gap: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
			margin-bottom: calc(25px + (30 - 25) * ((100vw - 320px) / (1920 - 320)));
		}

		@include _min-960 {
			grid-template-columns:
				minmax(
					calc(190px + (450 - 190) * ((100vw - 320px) / (1920 - 320))),
					min-content
				)
				1fr;
		}

		@include _screen-320 {
			gap: 10px;
			margin-bottom: 25px;
		}
	}

	// .order-registration__title
	&__title {
		line-height: 100%;
		letter-spacing: 0%;
	}

	// .order-registration__text
	&__text {
		line-height: 125%;
		padding-top: 20px;
	}

	// .design-concept__image
	&__image {
		img {
			object-fit: contain;
		}
	}
}
