@use '../core/variables' as *;
@use '../core/mixins' as *;

.portfolio-section {
  position: relative;

  &._offset-top {
    @include min-690 {
      margin-top: -13rem;
    }
    @include screen-690 {
      margin-top: -50px;
    }
  }

  // .portfolio-section__bg-image
  &__bg-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &._bg-color {
    background: #020202;
  }

  // .portfolio-section__body
  &__body {
    padding-right: 50px;
    padding-left: 50px;

    @include min-690 {
      padding-block: 13rem 16.2rem;
    }

    @include screen-1440 {
      padding-right: 30px;
      padding-left: 30px;
    }

    @include screen-690 {
      padding-right: 10px;
      padding-left: 10px;
      padding-block: 50px 60px;
    }
  }

  // .portfolio-section__content
  &__content {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;

    @include min-1262 {
      grid-template-columns:
        minmax(
          calc(190px + (450 - 190) * ((100vw - 320px) / (1920 - 320))),
          max-content
        )
        1fr;
    }
  }

  // .portfolio-section___line-1-col
  &__line {
    position: relative;
    z-index: 9;
    display: grid;
    margin-bottom: 7rem;
    color: #000;
    gap: 4rem;

    &._text-white {
      top: 0;
      left: 0;
      width: 100%;
      color: white;
    }

    @include min-960 {
      grid-template-columns:
        minmax(
          calc(190px + (450 - 190) * ((100vw - 320px) / (1920 - 320))),
          min-content
        )
        1fr;
    }

    @include screen-1262 {
      grid-template-columns: 1fr;
    }

    @include screen-690 {
      margin-bottom: 20px;
      gap: 10px;
    }

    @include screen-320 {
      margin-bottom: 20px;
      gap: 10px;
    }
  }

  &__line-main-col {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    grid-column: -1 / 1;
    grid-row: -1 /1;

    &:nth-child(1) {
      position: relative;

      .portfolio-section__image {
        z-index: 1;
      }
    }

    &:nth-child(2) {
      z-index: 2;
      justify-self: end;
    }
  }

  // .portfolio-section__tooltip
  &__tooltip {
    position: absolute;
    z-index: 11;
    top: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(-20%);

    @include min-768 {
      left: -200%;
    }

    @include screen-768 {
      right: 100%;
    }

    @include screen-490 {
      top: 77%;
    }
  }

  // .portfolio-section__line-1-col
  &__line-1-col {
    display: flex;
    flex-direction: column;
  }

  // .portfolio-section__line-2-col
  &__line-2-col {
    @include min-960 {
      display: grid;
      grid-template-columns: 45% 1fr;
      justify-items: end;
      gap: 4rem;
    }

    @include screen-960 {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  // .portfolio-section__line-2-row-col
  &__line-2-row-col {
    display: grid;
    grid-template-columns: 1fr minmax(400px, 575px);
    gap: 20px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @include screen-960 {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  // .portfolio-section__info
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    li {
      min-width: 300px;
      max-width: 450px;

      &:first-child {
        line-height: 122.857143%; /* 43px/35 */
        margin-bottom: 30px;
        list-style-position: inside;
        list-style-type: disc;
        letter-spacing: 0;
        color: rgb(7, 7, 7);
        background-position: 0 0;
        background-size: 1.6rem 1.6rem;

        &::marker {
          margin: 0;
          color: $color;
        }

        @include minmax-320-1920 {
          margin-bottom: calc(
            10px + (30 - 10) * ((100vw - 320px) / (1920 - 320))
          );
        }

        @include screen-320 {
          margin-bottom: 10px;
        }

        span {
          margin-left: -15px;
        }
      }

      &:not(:first-child) {
        font-size: 16px;
        font-weight: 400;
        line-height: 125%; /* 20px/16 */
        padding-left: 25px;
        letter-spacing: 0;
        color: rgb(7, 7, 7);
      }

      @include min-960 {
        min-width: 415px;
      }
    }
  }

  //.portfolio-section__order-registration
  &__order-registration {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  //.portfolio-section__order-registration__button
  &__order-registration__button {
    color: #fff;
    background-color: #000;
  }

  //.portfolio-section__order-registration__text
  &__order-registration__text {
    line-height: 125%;
  }

  // .portfolio-section__title
  &__title {
    line-height: 100%;
    letter-spacing: 0;
  }

  // .order-registration__text
  &__text {
    line-height: 125%;
  }

  // .portfolio-section__line-main-col--resize
  &__line-main-col--resize {
    @include min-1262 {
      width: 268.71px;
      height: 7360px;
    }

    @include minmax-690-1262 {
      width: calc(
        141.1px + (268.71 - 141.1) * ((100vw - 690px) / (1262 - 690))
      );
      width: calc(141.1px + 127.61 * (100vw - 690px) / 572);
    }
    @include minmax-320-690 {
      width: calc(67.15px + 201.45 * (100vw - 320px) / 900);
    }

    @include screen-320 {
      width: 67.2px;
    }
  }

  // .portfolio-section__image
  &__image {
    position: relative;
    width: 100%;

    &:nth-child(5) {
      .tooltip {
        transform: translateY(-200%);
      }
    }

    &:nth-child(6) {
      .tooltip {
        transform: translateY(-400%);
      }
    }

    &:nth-child(10) {
      .tooltip {
        transform: translateY(-100%);
      }
    }

    img {
      position: relative;
      top: 0;
      left: 0;
      width: auto;
      object-fit: contain;
    }
  }

  // .portfolio-section__image--md-width
  &__image--md-width {
    img {
      width: 100%;
    }
  }
}

.tooltip {
  &.visible {
    .tooltip__content {
      opacity: 1;
    }

    .icon-minus {
      opacity: 1;
    }

    .icon-plus {
      opacity: 0;
    }
  }

  // .tooltip__button
  &__button {
    position: relative;
    display: none;
    width: 100%;

    @include screen-960 {
      display: block;

      .tooltip-button {
        position: absolute;
        right: 0;
        width: 30px;
        height: 30px;
        transition: opacity 0.4s ease-in-out;
        transform: translateY(-110%);
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 0 10px #000;

        &::before {
          font-size: 22px;
          color: $color;
        }
      }
      .icon-minus {
        opacity: 0;
      }
    }
  }

  .tooltip__content {
    @include screen-960 {
      opacity: 0;
    }
  }

  // .tooltip__content
  &__content {
    font-size: 16px;
    min-width: 295px;
    max-width: 445px;
    padding: 1.5rem 1.5rem;
    transition: opacity 0.4s ease-in-out;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 19px #000;

    @include minmax-320-1920 {
      font-size: calc(8px + (16 - 8) * ((100vw - 320px) / (1920 - 320)));
      transform: translateX(65px);
    }

    @include screen-320 {
      font-size: 8px;
      transform: translateX(65px);
    }
  }
}

.portfolio-section-background {
  position: absolute;
  bottom: 0;
  left: 0;
}
