.project {
	@include _screen-1140 {
		background: #2b3769;
	}

	// .project__title
	&__title {
		text-align: center;
		margin-bottom: 50px;

		@include _960-1920 {
			font-size: calc(24px + (65 - 24) * ((100vw - 960px) / (1920 - 960)));
		}

		@include _screen-1140 {
			color: #fff;
			margin-bottom: 10px;
			padding-top: 50px;
		}
	}

	// .project__content
	&__content {
		position: relative;
		z-index: 2;
		padding-top: 50px;
		padding-bottom: 50px;

		background: #2b3769 radial-gradient(
										circle at 100% 100%,
										rgba(160, 176, 240, 0.178) 10%,
										rgb(43, 55, 105) 20%,
										transparent
		);

		@include _min-960 {
			border-radius: 0 30px 30px 30px;
		}

		@include _screen-1440 {
			padding: 0 30px 60px;
			border-radius: 0;
		}

		@include _screen-690 {
			padding: 0 30px 60px;
		}

		@include _screen-375 {
			padding: 0 10px 60px;
		}
	}

	// .project__tabs
	&__tabs {
		position: relative;
		width: 100%;
		display: grid;
		align-items: center;
		justify-content: space-between;
		grid-template-columns: 1fr min-content;
		transition: all 0.4s ease-in-out;

		&._responsive {
			background: #3a4a91;
			grid-template-rows: 1fr;
			height: 100%;

			@include _screen-960 {
				.tabs-button__item {
					position: relative;
					opacity: 1;
					transition: opacity 0.4s ease-in-out;
					pointer-events: all;
					transform: translateX(0);
				}

				.tabs-button__item {
					&:nth-child(4) {
						padding-bottom: 15px;
					}
				}
			}
		}

		@include _min-1140 {
			margin-bottom: -31px;
			height: 145px;
		}

		@include _1140-1920 {
			height: calc(115px + (145 - 115) * ((100vw - 1140px) / (1920 - 1140)));
		}

		@include _screen-1140 {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			background: #2b3769;
			padding: 0 25px 0 30px;
		}

		@include _screen-960 {
			grid-template-rows: 0fr;
			overflow: hidden;
		}

		@include _screen-375 {
			padding: 0 5px 0 10px;
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
	}

	&__button {
		background: #fff;

		.icon-arrow-dow {
			color: #fff;
		}

		&:hover {
			border: 1px solid #fff;

			.icon {
				transform: rotate(-90deg);
			}

			span {
				color: #fff;
			}

			&::before {
				background: $color;
			}
		}
	}

	&__icon {
		.icon-arrow-down {
			&::before {
				color: #fff;
			}
		}
	}

	.tab-content__text {
		color: #fff;
	}
}

.tabs-button {
	// .tabs-button_wrapper
	&__wrapper {
		width: 100%;
		height: 100%;
		min-height: 60px;
		display: flex;
		align-items: flex-end;
		gap: 10px;

		@include _screen-1140 {
			padding: 20px 0;
			align-items: center;
			box-sizing: border-box;
			justify-content: flex-start;
			gap: 40px;
		}

		@include _screen-960 {
			align-items: flex-start;
			flex-direction: column;
			padding: 0;
			gap: 0;
		}
	}

	// .tabs-button__item
	&__item {
		cursor: pointer;
		font-weight: 400;
		white-space: nowrap;
		display: flex;
		align-items: flex-start;

		&:hover {
			box-shadow: 0 -1px 7px #b8b8b8;

			@include _screen-1440 {
				box-shadow: none;
			}
		}

		&:not(.active) {
			@include _min-1140 {
				height: 98px;
				color: #000;
				background: #f2f2f2;
			}

			@include _1140-1920 {
				height: calc(70px + (98 - 70) * ((100vw - 1140px) / (1920 - 1140)));
			}

			@include _screen-960 {
				pointer-events: none;
				transform: translateX(-100%);
				opacity: 0;
			}
		}

		&.active {
			box-shadow: none;
			color: #fff;
			background: #2b3769;

			@include _min-1140 {
				height: 115px;
				padding-top: 24px;
			}

			@include _screen-960 {
				background: transparent;
				position: absolute;
			}

			@include _1140-1920 {
				height: calc(85px + (115 - 85) * ((100vw - 1140px) / (1920 - 1140)));
			}

			@include _screen-1140 {
				span {
					&::after {
						opacity: 0.5;
						background: #fff;
					}
				}
			}
		}

		&:nth-child(1) {
			@include _min-1140 {
				span {
					display: inline-flex;
					text-align: center;
				}
			}

			@include _screen-960 {
				max-width: 100%;
			}
		}

		@include _min-1140 {
			margin-bottom: 30px;
			padding-top: 21px;
			transition: all 0.4s ease-in-out;
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
		}

		@include _screen-1140 {
			border-radius: 0;
		}

		@include _screen-960 {
			width: 260px;
			z-index: 1;
		}

		span {
			position: relative;
			display: inline-flex;
			line-height: 122.857143%;

			@include _screen-1440 {
				font-size: 20px;
				padding: 0 30px;
			}

			@include _screen-1140 {
				padding: 0;
				color: #fff;

				&::after {
					content: '';
					position: absolute;
					bottom: -2px;
					width: 100%;
					height: 2px;
					opacity: 0;
					transition: opacity 0.4s ease-in-out;
				}
			}

			@include _screen-960 {
				margin: 10px 0;
				font-size: 20px;
			}
		}
	}

	// .tabs-button__button
	&__button {
		@include _min-960 {
			display: none;
		}

		@include _screen-960 {
			position: relative;
			display: block;
			align-self: start;
			margin: 10px 0;
			z-index: 2;

			.burger-button__items {
				span {
					background: #fff;
				}

				&__wrapper {
					background: transparent;
				}
			}
		}
	}
}

@import '../chunk/tab-content';
