.project {
	// .project__body
	&__body {
		padding: 0 50px;

		@include _screen-1440 {
			padding: 0 20px;
		}

		@include _screen-960 {
			padding: 0;
		}
	}

	// .project__title
	&__title {
		font-size: 65px;
		font-weight: 400;
		line-height: 100%;
		letter-spacing: 0%;
		text-align: center;
		margin-bottom: 26px;

		@include _320-1920 {
			font-size: calc(20px + (65 - 20) * ((100vw - 320px) / (1920 - 320)));
		}

		@include _screen-320 {
			font-size: 20px;
		}
	}

	// .project__content
	&__content {
		padding: 70px 50px;
		background: #2b3769;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;

		@include _screen-768 {
			padding: 70px 10px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}

		@include _screen-690 {
			padding: 5rem 20px 5rem;
		}
	}

	// .project__tabs
	&__tabs {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;

		@include _screen-960 {
			border-bottom: 1px solid #868686;
			padding: 0 50px;
			gap: 20px;

			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
			background: #2b3769;
		}

		@include _screen-768 {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}

		@include _screen-768 {
			padding: 0 20px;
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
	}

	&__button {
		width: 268px;
		background: #ffffff;
		border: 1px solid transparent;

		&:hover {
			border: 1px solid #fff;
			.icon {
				transform: rotate(-180deg);
			}
			span {
				color: #fff;
			}
			&::before {
				background: $color;
			}
		}
	}

	&__icon {
		.icon-arrow-dow {
			color: #fff;
			font-size: 2.2rem;
			width: 4.8rem;
			height: 4.8rem;
		}
	}
}

.tab-content {
	position: relative;
	height: 100%;

	// .tab-content__item
	&__item {
		display: none;
		margin-bottom: 35px;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;

		@include _screen-1440 {
			grid-template-columns: repeat(2, 1fr);
		}

		@include _screen-890 {
			grid-template-columns: repeat(1, 1fr);
		}

		&.active {
			display: grid !important;
		}
	}

	// .tab-content__column
	&__column {
		padding: 29px;
		display: flex;
		flex-direction: column;
		border-radius: 30px;
		background: #ffffff;

		@include _screen-768 {
			padding: 15px;
			border-radius: 10px;
		}
	}

	// .tab-content__image
	&__image {
		width: 100%;
		overflow: hidden;
		margin-bottom: 20px;
		border-radius: 10px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .tab-content__footer
	&__footer {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		gap: 10px;
		justify-content: space-between;

		@include _1440-1740 {
			flex-direction: column;
			gap: 20px;
		}

		@include _screen-1164 {
			flex-direction: column;
			gap: 20px;
		}
	}

	// .tab-content__text
	&__text {
		max-width: 212px;
		font-size: 16px;
		font-weight: 400;
		line-height: 125%; /* 20px/16 */
		text-align: left;
		flex: 1 1 auto;

		@include _screen-1164 {
			max-width: 100%;
			width: 100%;
		}
	}

	// .tab-content__button
	&__button {
		right: 0;
		bottom: 0;
		background: #2b3769;
		border: 1px solid transparent;

		span {
			color: #fff;
		}

		&:hover {
			.icon {
				transform: rotate(-45deg);
				background: $color;
			}
			._icon {
				&::before {
					color: #fff;
				}
			}
			span {
				color: #000;
			}
			&::before {
				background: #fff;
				color: #fff;
			}
		}
		.icon {
			background: #fff;
		}

		._icon {
			border-radius: 50%;
			color: #2b3769;
		}

		@include _screen-960 {
			width: 268px;
		}
	}

	&__icon {
		transition: all 0.3s ease-in-out;
	}
}

.tabs-buton {
	// .tabs-buton__item
	&__wrapper {
		width: 100%;
		height: 120px;
		display: flex;
		align-items: flex-end;
		gap: 10px;

		@include _screen-960 {
			height: 60px;
			align-items: center;
			box-sizing: border-box;
			gap: 10px;
			justify-content: space-between;
		}

		@include _screen-640 {
			justify-content: center;
		}
	}

	// .tabs-buton__item
	&__item {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 99px;
		font-family: Inter;
		font-size: 3.5rem;
		font-weight: 400;
		line-height: 120%; /* 42px/35 */
		white-space: nowrap;
		transition: all 0.5s ease-in-out;

		border-top-left-radius: 30px;
		border-top-right-radius: 30px;

		&:not(.active) {
			background: #f2f2f2;
		}

		&:nth-child(1) {
			max-width: 180px;
			flex: 1 1 100px;
			background: #f2f2f2;
			justify-content: flex-start;
			padding-left: 55px;
			@include _screen-960 {
				padding-left: 0;
			}
		}

		&:nth-child(2) {
			flex: 0 1 22.8%;
		}

		&:nth-child(3) {
			flex: 0 1 31.8%;

			@include _min-960 {
				flex: 2 1 auto !important;
			}
		}

		&:nth-child(4) {
			flex: 0 1 33.7%;
		}

		@include _1440-1920 {
			font-size: calc(20px + (35 - 20) * ((100vw - 1440px) / (1920 - 1440)));
		}

		@include _screen-1440 {
			font-size: 20px;
			float: left;

			&:not(:first-child) {
				flex: 1 1 auto;
			}
		}

		@include _screen-960 {
			font-size: 16px;
			flex: 0 1 auto !important;
			justify-content: flex-start;
			background: transparent !important;
			color: #fff;
			height: 100%;
		}

		@include _screen-640 {
			&:not(.active) {
				display: none;
			}
		}

		&:hover {
			box-shadow: 0 -1px 7px #b8b8b8;
		}

		&.active {
			color: #fff;
			box-shadow: none;
			height: 120px;
			height: 100%;

			background: #2b3769;
		}
	}

	// .tabs-buton__button
	&__button {
		display: none;

		@include _screen-640 {
			display: block;

			.burger-button {
				span {
					background: #fff;
				}
				&__wrapper {
					background: transparent;
				}
			}
		}
	}
}
