.project-page-section {
	// .project__title
	&__title {
		text-align: center;
		margin-bottom: 40px;
	}

	// .project__text
	&__text {
		font-family: $font-defoult;
		line-height: 125%; /* 20px/16 */
		max-width: 975px;
		text-align: center;
		margin: 0 auto 7rem;

		span {
			white-space: nowrap;
		}

		@include _screen-690 {
			margin-bottom: 30px;
		}
	}

	// .project__content
	&__content {
		position: relative;
		z-index: 2;
		background: #fff;

		@include _min-960 {
			border-radius: 30px;
		}

		@include _screen-1140 {
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
	}

	&__button {
		background: $color;
		border: 1px solid transparent;
		color: #fff;

		&:hover {
			@include _min-960 {
				border: 1px solid $color;

				.icon {
					transform: rotate(-90deg);
					background: $color;

					.icon-arrow-down {
						&::before {
							color: #fff;
							font-weight: 500;
						}
					}
				}

				span {
					color: #000;
				}

				&::before {
					background: #fff;
				}
			}
		}

	}

	&__icon {
		.icon-arrow-down {
			&::before {
				color: $color;
				font-weight: 600;
			}
		}

		&.icon {
			background: #fff;
		}
	}
}

@import '../chunk/tab-content';
