.seo-block {
	// .seo-block__body
	&__body {
		max-width: 1280px;
		margin: 0 auto;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}

	// .seo-block__title
	&__title {
		margin-bottom: 49px;
		font-weight: 400;

		@include _screen-690 {
			margin-bottom: 20px;
		}

		h2 {
			margin-bottom: 60px;
			font-size: 65px;
			line-height: 100%;
			text-align: center;

			@include _320-1920 {
				font-size: calc(24px + (65 - 24) * ((100vw - 320px) / (1920 - 320)));
			}

			@include _screen-690 {
				margin-bottom: 40px;
			}

			@include _screen-320 {
				font-size: 24px;
			}
		}

		h3 {
			font-size: 35px;
			text-align: center;
			@include _320-1920 {
				font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1920 - 320)));
			}

			@include _screen-320 {
				font-size: 20px;
			}
		}
	}

	// .seo-block__content
	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		grid-auto-flow: dense;
		grid-auto-rows: auto;

		@include _screen-768 {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .seo-block__column
	&__column {
		// grid-auto-flow: column;
		@include _screen-768 {
			flex: 0 100%;
		}

		&:nth-child(1) {
			// grid-row: 1 / -3;
		}
	}

	// .seo-block__text
	&__text {
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;

		p {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}

		@include _320-1920 {
			font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320)));
		}

		@include _screen-320 {
			font-size: 12px;
		}
	}

	// .seo-block__button
	&__button {
		background: #fff;
		align-self: end;

		&::before {
			background: #2b3769;
		}

		&:hover {
			.icon {
				transform: rotate(-90deg);
			}
		}

		@include _screen-768 {
			margin-top: 16px;
			align-self: center;
			justify-self: center;
		}

		span {
			white-space: nowrap;
			font-weight: 400;
			line-height: 125%; /* 25px/20 */
			text-align: center;
		}
	}

	// .seo-block__icon-btn
	&__icon-btn {
		.icon-arrow-dow {
			&::before {
				color: #fff;
			}
		}
	}
}
