.seo-block {
	// .seo-block__body
	&__body {
		max-width: 1280px;
		margin: 0 auto;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		@include _1440-1920 {
			max-width: calc(
				1000px + (1273 - 1000) * ((100vw - 1440px) / (1920 - 1440))
			);
		}
		@include _screen-1440 {
			max-width: 1000px;
		}
	}

	// .seo-block__title
	&__title {
		margin-bottom: 49px;
		font-weight: 400;

		@include _screen-690 {
			margin-bottom: 20px;
		}

		h2 {
			margin-bottom: 60px;
			text-align: center;

			@include _screen-690 {
				margin-bottom: 40px;
			}
		}

		h3 {
			text-align: center;
		}
	}

	// .seo-block__content
	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		grid-auto-flow: dense;
		grid-auto-rows: auto;

		@include _screen-768 {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .seo-block__column
	&__column {
		@include _screen-768 {
			flex: 0 100%;
		}
	}

	// .seo-block__text
	&__text {
		p {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	// .seo-block__button
	&__button {
		align-self: end;
		background: #fff;

		&::before {
			background: #2b3769;
		}

		&:hover {
			.icon {
				transform: rotate(-90deg);
			}
		}

		@include _screen-768 {
			margin-top: 16px;
			justify-self: center;
		}

		span {
			white-space: nowrap;
			font-weight: 400;
			line-height: 125%; /* 25px/20 */
			text-align: center;
		}
	}

	// .seo-block__icon-btn
	&__icon-btn {
		.icon-arrow-down {
			&::before {
				color: #fff;
			}
		}
	}
}
