.services-price {
	// .services-price__title
	&__title {
		font-size: 65px;
		font-weight: 400;
		letter-spacing: 0%;
		text-align: center;
		margin-bottom: 70px;

		@include _screen-690 {
			margin-bottom: 40px;
		}

		@include _320-1920 {
			font-size: calc(24px + (65 - 24) * ((100vw - 320px) / (1920 - 320)));
		}

		@include _screen-320 {
			font-size: 24px;
		}
	}

	// .services-price__content
	&__content {
		display: grid;
		height: 100%;
		gap: 39px;
		justify-content: space-between;
		grid-template-columns: repeat(3, minmax(200px, 1fr));

		@include _screen-1140 {
			gap: 20px;
			grid-template-columns: repeat(2, minmax(200px, 51fr));
		}

		@include _screen-640 {
			gap: 34px;
			grid-template-columns: repeat(1, minmax(200px, 1fr));
		}
	}

	// .services-price__column
	&__column {
		border-radius: 30px;
		overflow: hidden;

		@include _screen-768 {
			border-radius: 15px;
		}

		&._open {
			.card-price__content {
				grid-template-rows: 1fr;
			}

			.card-price__button {
				display: flex;
			}

			.card-price__open-btn {
				display: none;
			}

			.card-price__footer {
				flex-direction: column;
			}
			.card-price__close-btn {
				display: block;
			}
		}
	}

	// .services-price__card
	&__card {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 20px;
		background: url('../img/main/card-item-bg.png') center / cover no-repeat;
	}
}

.card-price {
	// .card-price__title
	&__title {
		margin-bottom: 14px;
		font-size: 35px;
		font-weight: 400;
		line-height: 122.857143%; /* 43px/35 */
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include _320-1920 {
			font-size: calc(20px + (35 - 20) * ((100vw - 490px) / (1920 - 490)));
		}

		@include _screen-490 {
			font-size: 20px;
		}
	}

	// .card-price__close-btn
	&__close-btn {
		cursor: pointer;
		display: none;
		transform: rotate(45deg);
	}

	// .card-price__content
	&__content {
		flex: 1 1 auto;

		@include _screen-490 {
			display: grid;
			grid-template-rows: 0fr;
			transition: grid-template-rows 0.4s ease 0s;
		}
	}

	// .card-price__list
	&__list {
		margin-bottom: 27px;
		min-height: 0;
		overflow: hidden;
	}

	// .card-price__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		&:not(:last-child) {
			margin-bottom: 14px;
		}

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	// .card-price__icon
	&__icon {
		margin-right: 11px;
	}

	// .card-price__text
	&__text {
		font-family: $font-defoult;
		font-size: 16px;
		font-weight: 400;
		line-height: 125%; /* 20px/16 */

		@include _320-1920 {
			font-size: calc(12px + (35 - 12) * ((100vw - 320px) / (1920 - 320)));
		}

		@include _screen-320 {
			font-size: 12px;
		}
	}

	// .card-price__footer
	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include _screen-1710 {
			flex-direction: column;
		}

		@include _screen-490 {
			flex-direction: row;
		}
	}

	// .card-price__price
	&__price {
		margin-bottom: 20px;
		font-size: 25px;
		font-weight: 400;
		line-height: 124%; /* 31px/25 */
		white-space: nowrap;

		@include _screen-1710 {
			align-self: start;
		}

		@include _320-1920 {
			font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)));
		}

		@include _screen-320 {
			font-size: 20px;
		}
	}

	// .card-price__button
	&__button {
		align-self: end;
		background: #fff;

		&::before {
			background: #2b3769;
		}

		&:hover {
			.icon {
				transform: rotate(-45deg);
			}
		}

		span {
			font-weight: 400;
			line-height: 125%; /* 25px/20 */
			text-align: center;
		}

		@include _screen-490 {
			display: none;
		}
	}

	// .card-price__icon-btn
	&__icon-btn {
		.icon-arrow-right {
			&::before {
				color: #fff;
			}
		}
	}

	// .card-price__open-btn
	&__open-btn {
		color: #fff;
		font-size: 18px;
		display: none;
		@include _screen-490 {
			display: block;
		}
	}
}
