.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	z-index: 99;

	background-image: radial-gradient(
			ellipse at bottom center,
			rgba(43, 55, 105, 0.357),
			transparent
		),
		radial-gradient(
			ellipse at 10% 0%,
			rgba(23, 27, 28, 0.877) 25%,
			rgba(238, 238, 238, 0) 70%,
			transparent 100%
		),
		radial-gradient(
			ellipse at 110% 100%,
			rgba(23, 27, 28, 0.733) 25%,
			rgba(238, 238, 238, 0) 70%,
			transparent 100%
		),
		radial-gradient(
			circle at 0% 100%,
			rgb(65, 81, 145) 0%,
			rgba(43, 55, 105, 0.404) 30%,
			transparent
		),
		radial-gradient(
			circle at 100% 0%,
			rgb(65, 81, 145) 0%,
			rgb(43, 55, 105) 30%,
			transparent
		),
		radial-gradient(
			ellipse at 30% 2%,
			rgb(23, 27, 28) 0%,
			rgb(43, 55, 105) 100%,
			transparent
		);

	div {
		position: relative;

		background: rgb(228, 228, 228);
		border-radius: 50%;
		width: 25px;
		height: 25px;
		z-index: -1;
		animation: anim 2s infinite linear;
		animation-delay: calc(-0.3s * var(--i));
		transform: translateY(5px);
		margin: 0.2em;
	}

	&::before {
		content: '';
		background: rgba(255, 255, 255, 0);
		backdrop-filter: blur(8px);
		position: absolute;
		width: 140px;
		height: 55px;
		z-index: 20;
		border-radius: 0 0 10px 10px;
		border: 1px solid rgba(255, 255, 255, 0.274);
		border-top: none;
		box-shadow: 0 15px 20px rgba(0, 0, 0, 0.082);
		animation: anim2 2s infinite;
	}

	&.preloader-remove {
		display: none;
	}
}

@keyframes anim {
	0%,
	100% {
		transform: translateY(5px);
	}
	50% {
		transform: translateY(-65px);
	}
}

@keyframes anim2 {
	0%,
	100% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
}
