footer.footer(id="contacts") 
	._body.mlrp-b0101 
		._row
			._header
				._logo
					img(src="@@webRoot/img/icons/logo-w.png" alt="logo")
					a(href="@@webRoot/index.html") Sadovskiy Design
				._icons
					a(href="" target="_blank")._link
						+iconfont('telegram-fly', '_icon')
					a(href="" target="_blank")._link
						+iconfont('whatsapp', '_icon')
					a(href="https://dzen.ru/sadovskiydesign" target="_blank")._link
						+iconfont('dzen', '_icon')
					a(href="https://vk.com/wall-166763916_80" target="_blank")._link
						+iconfont('vk-brand', '_icon')
					a(href="https://www.youtube.com/@sadovskiydesign" target="_blank")._link
						+iconfont('youtube-lg', '_icon')
			._content
				._column 
					._head информация 
					ul._info
						li.p-text ООО «Садовский Дизайн»
						li.p-text ИНН 4000024150
						li.p-text ОГРН 1254000003498
						li.p-text КПП 400001001
						li.p-text Расчётный&nbsp;счёт 40702810620000202494
						li.p-text Банк ООО «Банк Точка»
						li.p-text БИК 044525104
						li.p-text Кор. счёт 30101810745374525104
						li.p-text Политика конфиденциальности 
				._column 
					._head.p-text меню
					._menu 
						ul._list 
							li._item 
								a(href="")._link.p-text.link-transform 
									span(data-text="Компания") Компания
							li._item 
								a(href="")._link.p-text.link-transform 
									span(data-text="Проекты") Проекты
							li._item 
								a(href="")._link.p-text.link-transform 
									span(data-text="Услуги") Услуги
							li._item 
								a(href="")._link.p-text.link-transform 
									span(data-text="Графический дизайн") Графический дизайн 
						ul._list 
							li._item 
								a(href="")._link.p-text.link-transform 
									span(data-text="Веб-дизайн") Веб-дизайн
							li._item 
								a(href="")._link.p-text.link-transform 
									span(data-text="Разработка сайтов") Разработка сайтов
							li._item 
								a(href="")._link.p-text.link-transform 
									span(data-text="Продвижение сайтов") Продвижение сайтов
				._column 
					._head контакты
					._contacts
						._phone  
							a(href="tel:+79533321089").p-text 8 (953) 332 10-89 
							a(href="tel:+79105487772").p-text 8 (910) 548 77-72
						._mail.p-text info@sadovskiy.art 
					._head адрес
					a(href="https://yandex.ru/maps/-/CHwqeFKc" target='blanck')._address.p-text 249039, Россия, Калужская область, город&nbsp;Обнинск, улица&nbsp;Университетская&nbsp;дом&nbsp;2, офис&nbsp;346, ГАУ&nbsp;КО&nbsp;«Технопарк&nbsp;Обнинск»
