footer.footer(id="contacts")
	._body
		._row
			._header
				._logo
					img(src="@@webRoot/img/icons/logo-w.png", alt="logo")
					span Sadovskiy Design
				._icon 
					+iconfont('telegram-fly', '_icon')
					+iconfont('whatsapp', '_icon')
					+iconfont('telegram-fly', '_icon')
					+iconfont('whatsapp', '_icon')
			._content
				._column 
					._head информация 
					ul._info 
						li ИНН 402 571 875 185
						li ОГРНИП 319 4027 000 61 944
					._privacy-policy Политика конфиденциальности
				._column 
					._head меню
					._menu 
						ul._list 
							li._item 
								a(href="")._link О нас
							li._item 
								a(href="")._link Наши работы
							li._item 
								a(href="")._link Графический дизайн
						ul._list 
							li._item 
								a(href="")._link Веб-дизайн
							li._item 
								a(href="")._link Разработка сайтов
							li._item 
								a(href="")._link Продвижение сайтов
				._column 
					._head контакты
					._contacts
						ul._phone 
							li 8 (910) 548 77-72; 
							li &nbsp;&nbsp;8 (953) 332 10-89
						._mail info@sadovskiy.art 
					._head адрес
					p._address Калужская область, город Обнинск,пр-т Ленина, дом&nbsp;121 офис&nbsp;308 
		.elipsis-cont
			._elipse-12
			._elipse-13 
			._elipse-14