footer.footer(id="contacts")
	._body
		._row
			._header
				._logo
					img(src="@@webRoot/img/icons/logo-w.png", alt="logo")
					a(href="@@webRoot/index.html") Sadovskiy Design
				._icons
					a(href="" target="_blank")._link
						+iconfont('telegram-fly', '_icon')
					a(href="" target="_blank")._link
						+iconfont('whatsapp', '_icon')
					a(href="https://dzen.ru/sadovskiydesign" target="_blank")._link
						+iconfont('dzen', '_icon')
					a(href="https://vk.com/wall-166763916_80" target="_blank")._link
						+iconfont('vk-brand', '_icon')
					a(href="https://www.youtube.com/@sadovskiydesign" target="_blank")._link
						+iconfont('youtube-lg', '_icon')
			._content
				._column 
					._head информация 
					ul._info
						li.p-text ИНН 402 571 875 185
						li.p-text ОГРНИП 319 4027 000 61 944
					._privacy-policy.p-text Политика конфиденциальности
				._column 
					._head.p-text меню
					._menu 
						ul._list 
							li._item 
								a(href="")._link.p-text О нас
							li._item 
								a(href="")._link.p-text Наши работы
							li._item 
								a(href="")._link.p-text Графический дизайн
						ul._list 
							li._item 
								a(href="")._link.p-text Веб-дизайн
							li._item 
								a(href="")._link.p-text Разработка сайтов
							li._item 
								a(href="")._link.p-text Продвижение сайтов
				._column 
					._head контакты
					._contacts
						._phone  
							span.p-text 8 (910) 548 77-72; 
							span.p-text 8 (953) 332 10-89
						._mail.p-text info@sadovskiy.art 
					._head адрес
					p._address.p-text Калужская область, город Обнинск,пр-т Ленина, дом&nbsp;121 офис&nbsp;308