.header.pbl-lr-5010
	._body
		._column
			a(href="@@webRoot/index.html")._logo
				._image
				._title.bp-2 Sadovskiy Design
		._column
			nav._menu
				.menu-list(data-move-el="[{'bp-max': 768.98, 'index': 0, 'target': '.bp-1'}]")
					._item
						a(href="#about")._link.anchor-link
							span(data-text="Компания") Компания
					._item
						a(href="#project")._link.anchor-link
							span(data-text="Проекты") Проекты
					._item
						._item-menu
							._link._link
								span(data-text="Услуги") Услуги 
							+iconfont('angle-down', '_icon')
						._sub-menu
							ul._list
								._sub-item
									li._link.underline
										a(href="") Графический дизайн
								._sub-item
									li._link.underline
										a(href="") Веб-дизайн
								._sub-item
									li._link.underline
										a(href="@@webRoot/project.html") Разработка
								._sub-item
									li._link.underline
										a(href="") Продвижение 
					._item
						a(href="#contacts")._link.anchor-link
							span( data-text="Контакты") Контакты
				._contacts
					._phone
						a(href="tel:89533321089")
							span +7 (953) 332 10-89
					.burger-button._button
						._wrapper
							._items
								span
								span
								span