header.page__header
	.header 
		._body 
			._logo
				._image
					img(src="@@webRoot/img/icons/logo-b.png", alt="logo")
				._title.bp-2 
					span Sadovskiy Design
			.menu-list._menu 
				a(href="")._link Компания
				a(href="")._link Проекты
				//- a(href="")._link Графический дизайн
				//- a(href="")._link Веб - дизайн
				//- a(href="")._link Создание сайтов
				//- a(href="")._link Продвижение сайтов
				a(href="")._link Услуги
				a(href="")._link Контакты
			._contacts
				._phone
					a(href="tel:89533321089")
						+iconfont('volume-phone', '_icon')
						span(data-move-el="[{'bp-max': 490.98, 'index': 1, 'target': '.bp-2'}]") 8 (953) 332 10-89
				.burger-button._button
					span._items 
						span._item
						span._item
						span._item
						span._item

