.sidebar-menu
	._column
		._menu
			._menu-list
				a(href="")._link О нас
				a(href="")._link Наши работы
				a(href="")._link Графический дизайн
				a(href="")._link Веб - дизайн
				a(href="")._link Создание сайтов
				a(href="")._link Продвижение сайтов 
			._order 
				._project-button начать проект
					._button
						+iconfont('arrow-right', '_icon')
			._row
				.networks
					._icon 
						+iconfont('vk-draw', '_icon')
						span Vkontakte
					._icon 
						+iconfont('whatsapp-draw', '_icon')
						span Whatsapp
					._icon 
						+iconfont('telegram-draw', '_icon')
						span Telegram
				.contacts
					._phone
						span Телефон
						a(href="tel:89533321089") (953) 332 10-89
					._mail 
						span Почта
						a(href=" mailto:info@sadovskiy.art") info@sadovskiy.art
	._column
		.main-wrapper
			.slider.swiper.slider1
				._wrapper.swiper-wrapper
					._item.swiper-slide
						._img
							img(src="@@webRoot/img/slides/1.jpg", alt="Проект-")
					._item.swiper-slide
						._img
							img(src="@@webRoot/img/slides/2.jpg", alt="Проект-")
					._item.swiper-slide
						._img 
							img(src="@@webRoot/img/slides/3.jpg", alt="Проект-")
					._item.swiper-slide
						._img
							img(src="@@webRoot/img/slides/4.jpg", alt="Проект-")
			.slider.swiper.slider2
				._wrapper.swiper-wrapper
					._item.swiper-slide
						._img
							img(src="@@webRoot/img/slides/7.jpg", alt="Проект-")
					._item.swiper-slide
						._img
							img(src="@@webRoot/img/slides/8.jpg", alt="Проект-") 
					._item.swiper-slide
						._img 
							img(src="@@webRoot/img/slides/9.jpg", alt="Проект-")
					._item.swiper-slide
						._img
							img(src="@@webRoot/img/slides/10.jpg", alt="Проект-")
			.slider.swiper.slider3
				._wrapper.swiper-wrapper
					._item.swiper-slide
						._img
							img(src="@@webRoot/img/slides/13.jpg", alt="Проект-")
					._item.swiper-slide
						._img
							img(src="@@webRoot/img/slides/14.jpg", alt="Проект-") 
					._item.swiper-slide
						._img 
							img(src="@@webRoot/img/slides/15.jpg", alt="Проект-")
					._item.swiper-slide
						._img
							img(src="@@webRoot/img/slides/16.jpg", alt="Проект-")
	



