.sidebar-menu 
	._column
		._menu.bp-1 
			._order 
				._project-button Начать проект
					._button
						+iconfont('arrow-right', '_icon')
			._row
				.networks
					//- a(href="https://vk.com/wall-166763916_80")._icon 
					//- 	+iconfont('vk-draw', '_icon')
						span Vkontakte
					a(href="")._icon 
						+iconfont('whatsapp-draw', '_icon')
						span Whatsapp
					a(href="")._icon 
						+iconfont('telegram-draw', '_icon') 
						span Telegram
					//- a(href="")._icon 
					//- 	+iconfont('youtube', '_icon')
					//- 	span YouTube 
					//- a(href="https://dzen.ru/sadovskiydesign")._icon 
					//- 	+iconfont('dzen', '_icon')
					//- 	span Yandex-Dzen  
				.contacts
					._phone
						span Телефон:
						a(href="tel:89105487772") 8 (910) 548 77-72;
						a(href="tel:89533321089") 8 (953) 332 10-89
					._mail 
						span Почта:
						a(href=" mailto:info@sadovskiy.art") info@sadovskiy.art
		//- .elipsis-cont 
		//- 	._elipse-06
		//- 	._elipse-07
	